[2015-10-23 06:58] kcheick opened #1 "what happened to the nuget package ?"
The nuget package is not available. Is the project still being maintained ?

[2015-10-23 15:53] sergey-tihon commented on #1
This one is not ready yet :disappointed:
It is prototype with type inference, the communication with service is not implemented

[2015-10-26 10:59] sergey-tihon commented on #1
I think that something will be published after merge of https://github.com/sergey-tihon/SwaggerProvider/pull/2

[2015-11-03 19:42] sergey-tihon commented on #1
Current version released as [v0.0.2-alpha](https://www.nuget.org/packages/SwaggerProvider/0.0.2-alpha)

[2015-11-03 19:42] #1 closed

[2015-11-09 05:37] sergey-tihon opened #3 "Support Swagger schemas in Yaml format"

[2015-11-09 05:38] sergey-tihon opened #4 "Add tests with real-world Swagger schemas"
https://github.com/sergey-tihon/SwaggerProvider/commit/9dd4b5dfe852ba45f76aaa5d6e3ef8e14b747d4d

[2015-11-09 05:40] sergey-tihon opened #5 "Create tests with self-hosted Swashbuckle API servers (C# & F#)"
https://github.com/domaindrivendev/Swashbuckle
https://sergeytihon.wordpress.com/2015/09/06/swagger-for-f-web-apps/

[2015-11-12 19:15] #4 closed

[2015-11-16 08:33] sergey-tihon commented on #3
[APIs-guru API](https://github.com/APIs-guru/api-models/blob/master/API.md) provides links to Swagger schemas in YAML format

[api-spec-converter](https://github.com/lucybot/api-spec-converter) is able to convert from other formats.

[2015-11-17 15:25] #5 closed

[2015-12-22 09:15] sergey-tihon opened #12 "Issues with FSharp.Core"
For me it looks like an issue with version of `FSharp.Core`.

@centur reported in Gitter

[code]

I know that there is a guide [Notes and Guidance on FSharp.Core](https://fsharp.github.io/2015/04/18/fsharp-core-notes.html)

But what it the best way to handle this in TP?
// @forki could you advise plz?

[2015-12-22 09:35] forki commented on #12
I'm not sure
On Dec 22, 2015 10:15, "Sergey Tihon" <notifications@github.com> wrote:

[2015-12-22 16:17] #3 closed

[2015-12-23 14:30] sergey-tihon commented on #12
Should be fixed in `v0.3.2`

[2015-12-23 14:30] #12 closed

[2016-01-18 07:48] sergey-tihon opened #13 "Support `collectionFormat` = `multi`"
http://swagger.io/specification/#parameterObject

Schema sample: http://petstore.swagger.io/v2/swagger.json

PetStore changes collection format from `csv` to `multi` and current implementation generates incorrect quotes for F# compiler

[2016-01-18 13:25] sergey-tihon commented on #13
Not an issue, actual bug was in provided types API
https://github.com/sergey-tihon/SwaggerProvider/blob/299680041e063a7999b6b720bc27ef52072ecb25/src/SwaggerProvider.DesignTime/OperationCompiler.fs#L49-L50

[2016-01-18 13:25] #13 closed

[2016-02-07 09:58] bjartwolf opened #14 "NodaTime Support"
Ref. the discussion on Gittr 06.02.2015 we would like to be able to plug in custom types. The example and most valuable use-case for us right now would be to able to use NodaTime for Date and DateTime. It already fits the Swagger date-time format very well, as they all use https://www.ietf.org/rfc/rfc3339.txt

I understand a dependency on NodaTime is probably something that SwaggerProvider does no

[2016-02-07 10:44] jakubka commented on #14
Very useful, +1

On Sun, Feb 7, 2016 at 1:58 AM -0800, "Bjørn Einar" <notifications@github.com> wrote:

Ref. the discussion on Gittr 06.02.2015 we would like to be able to plug in custom types. The example and most valuable use-case for us right now would be to able to use NodaTime for Date and DateTime. It already fits the Swagger date-time format very well, as they all use https://www.ietf.org/r

[2016-02-08 07:42] sergey-tihon commented on #14
__What other use cases for pluggable types do you see?__
Swagger provider tries to map types from schema to .NET primitives and when we cannot map directly we generate new ProvidedType based on info from the schema.
To be fair, I do not see other use cases that may be useful to configure...

__Interaction with TypeProvider__
There are not so much cases how you can `say` something to TP.

- [Provid

[2016-02-08 12:28] bjartwolf commented on #14
Agreed.

We just started with one use-case (nodatime), and haven't got that far into the other ones, but one idea we are exploring is for URIs. Swagger doesn't support URIs (only strings), which is a bit of a pain. We are discussing for example using something similar to HAL and expose Swagger Objects that contains URIs, for example. But this is not that well thought out yet, and also it is on the

[2016-02-10 16:58] lawrencetaylor opened #15 "Enable "host" property to be overridden at runtime"
It could well be that there is a way to achieve what I am after - if so please enlighten me!

I wish to use SwaggerProvider to generate clients for my service that are consistent with my documentation as part of my build process to run integration tests.  This involves running integration tests against a "Test" environment before the service is promoted to another environment.

I wish to reuse a s

[2016-02-17 19:34] sergey-tihon commented on #15
These is no way to do it right know... but I think that it is nice to have feature.
It should be not hard to add

[2016-02-19 06:46] bjartwolf commented on #14
I think @einarwh and I have a full day to day to look at this again today, so we could try to implement it. I'll se what we can do with the build scripts to make this work - I don't have a clear idea of how to run with different dependencies in two versions of the build script, but we'll see what we can figure out.

[2016-02-19 07:53] sergey-tihon commented on #14
As I see it...
1) [Use `#if NODATIME` in code](https://msdn.microsoft.com/en-us/library/dd233195.aspx)
2) Create new `fsproj` file with dependency to `NodaTime`
3) Create new `sln` file that reference new `fsproj` file.
4) Modify build script to compile in both modes / both solution files.
5) Create new Paket template files and automate creation of `SwaggerProvider.NodaTime` NuGet package with dep

[2016-02-20 13:52] bjartwolf commented on #14
I think I could try to make a separate build configuration instead, thinking that will lead to less duplication. I didn't know it was possible, but appearantly it should be possible to do conditional includes of references. Hopefully time to fix this tonight.
http://stackoverflow.com/questions/6523008/visual-studio-2010-conditional-references

[2016-02-20 13:54] sergey-tihon commented on #14
Not sure if such things work with Paket.
I do not want to lose an ability to update dependency using `paket update`

[2016-02-20 14:04] bjartwolf commented on #14
I'll make sure to test that.

[2016-02-20 15:10] bjartwolf commented on #14
It seems to work fine, I tried to downgrade to 1.3.0 and then remove the constraint in paket.dependencies, run paket update nuget nodatime and it would update the nuget package without touching the fsproj-files. It might be other issues, I'm not sure what would happen if they change the structure of the nuget package signifantly, but I still believe it's less hassle than having a separate set of p

[2016-02-20 22:53] bjartwolf commented on #14
In my PoC it works fine to build a separate version with nodatime and conditional references, but I'm not to sure what to do regarding the help-stuff, sourcelink etc. I could of course ignore it, and just build a nuget package of SwaggerProvider.NodaTime but I need to look into writing some tests for it and what to do with helpfiles etc.

[2016-02-21 11:19] sergey-tihon commented on #14
I think it is OK for now just to automate NuGet package creating. (without unit test and docs)

[2016-02-21 13:11] bjartwolf commented on #14
Cool. I'll add a separate test project for nodatime and leave it at that.

[2016-02-25 13:41] sergey-tihon commented on #15
Released in [v0.3.5](https://www.nuget.org/packages/SwaggerProvider/0.3.5)

[2016-02-25 13:41] #15 closed

[2016-02-25 16:10] lawrencetaylor commented on #15
Thank you - looking forward to trying this out.

[2016-04-04 07:10] dsyme opened #20 "Move to fsprojects?"
Awesome project :)  I hadn't noticed it until now.

Maybe move to fsprojects to get more eyes on it?

Cheers!
don

[2016-04-04 07:45] sergey-tihon commented on #20
Good idea!
Done

[2016-04-04 07:45] #20 closed

[2016-04-04 07:45] sergey-tihon commented on #14
@bjartwolf Are you still going to create PR for this?

[2016-04-06 14:27] baronfel opened #21 "Introduce Async/Task-based calls for the Operations"
### Description

The current version of the SwaggerProvider only exposes synchronous network calls.  It would be excellent if we had Async or Task-based versions as well, for throughput reasons.
I don't know which representation (Async or Task) would be best, especially because the operations from this library are often consumed by C# code.
### Repro steps
### Expected behavior

Asyncronous versio

[2016-04-06 22:09] baronfel opened #22 "Allow for custom headers per-request"
### Description

Currently SwaggerProvider allows for injection of headers via Static Parameter when the type is first created.  These are set-only.
There are cases when one would like to be able to set headers on a per-request basis, for example

- when your API requires authentication via a Bearer token, which is subject to expiration
- when a particular consumer wants to specify different cachi

[2016-04-07 18:11] saosebastiao opened #23 "Support $ref in DefinitionProperty"
### Description

The Swagger Provider doesn't support the $ref aspect of the spec

### Repro steps

let path = "swagger.json" (* uses $ref , example: instagram swagger api example *)
type PetStore = SwaggerProvider<path, "Content-Type=application/json">

### Related information
May be related to the refs being part of the 2.0 spec, but I'm not sure.

[2016-04-07 21:23] sergey-tihon commented on #23
@saosebastiao Could you please specify what do you expect mean by `$ref aspect of the spec`? Or what do you expect to see?

SwaggerProvider support `$ref`.

All schemes that has custom type definition uses `$ref` to reference to them.
Like here https://github.com/fsprojects/SwaggerProvider/blob/master/tests/SwaggerProvider.Tests/Schemas/PetStore.Swagger.json#L54 you see reference to https://github

[2016-04-07 21:43] saosebastiao commented on #23
I'm getting the following error when trying to use the type provider for the Instagram API spec:

Error FS3033: The type provider 'SwaggerProvider.SwaggerTypeProvider' reported an error: Reference to unknown type #/definitions/Media (FS3033) (FSharpTest)

The swagger file provided does indeed define a Media data type.

Here is a repo that attempts to reproduce the error:
https://github.com/saoseba

[2016-04-08 22:01] sergey-tihon commented on #23
Thanks, nice sample.
Where did you get this schema?

I just wonder why your [Instagram API swagger.json](https://github.com/saosebastiao/FSharpTest/blob/master/FSharpTest/swagger.json) differ from [one listed in API.guru](https://apis-guru.github.io/api-models/instagram.com/1.0.0/swagger.json) // cc: @IvanGoncharov

[2016-04-08 22:04] saosebastiao commented on #23
I got it from the sample sets available for the demo editor at
http://editor.swagger.io/#/

On Fri, Apr 8, 2016 at 3:01 PM, Sergey Tihon <notifications@github.com>
wrote:

[2016-04-08 22:11] IvanGoncharov commented on #23
@sergey-tihon Instagram doesn't provide official Swagger files.
Both files are manually written, swagger-editor version is intended as a sample.
So it's incomplete and out of sync.
For APIs.guru I use this version:
https://github.com/darklynx/swagger-api-collection/blob/master/api/yaml/instagram.yaml

[2016-04-10 11:46] sergey-tihon commented on #23
Fix released in [v0.4.0](https://www.nuget.org/packages/SwaggerProvider/0.4.0)

[2016-04-10 11:46] #23 closed

[2016-04-19 04:02] sergey-tihon commented on #22
Releases in [v0.5.0](https://www.nuget.org/packages/SwaggerProvider)
Now you can modify Headers whenever you want on each provided instance
[code]
or event change every HttpRequest in any way
[code]

[2016-04-19 04:02] #22 closed

[2016-04-19 05:02] baronfel commented on #22
This is great, thanks so much. I'll introduce it tomorrow and take it for a ride.

[2016-04-21 19:44] baronfel opened #27 "Investigate useage of Dictionary<'k, 'v>.Add('k, 'v) instead of indexer."
### Description

I believe that there's a dictionary Add exception leaking out of the provider that could be easily worked around by changing usages of .Add(key, value) to use the indexer : [key] <- value.
Per MSDN, the indexer never throws.

### Repro steps

run the provider pointed at the json config in [this gist](https://gist.github.com/baronfel/57d3b963e021a1ee2f08af680568c1e0)

### Expected

[2016-04-30 06:46] sergey-tihon commented on #27
Fix released in [v0.5.1](https://www.nuget.org/packages/SwaggerProvider/0.5.1)

[2016-04-30 06:46] #27 closed

[2016-06-05 13:49] sergey-tihon opened #28 "Support (be compatible with) Fable"
[Should be possible to use Swagger Provider from Fable](https://twitter.com/alfonsogcnunez/status/739385383465717760).

There are some issues with reading AST of provided types
https://github.com/fsharp/FSharp.Compiler.Service/issues/568#issuecomment-223670266

P.S.: [Working RegExp provider](https://github.com/fsprojects/Fable/blob/master/src/providers/regex/src/Fable.Providers.Regex.fsx#L15-L16)

[2016-06-05 13:52] sergey-tihon opened #29 "Create AppVeyor NuGet feed"
https://ci.appveyor.com/nuget/swaggerprovider

[2016-06-21 10:42] xenocons opened #33 "Feature Request - Optional Message Formatters"
Within .NET WebAPI, its possible to add custom formatters for the message types, under WebApiConfig.
e.g.
[code]

It'd be cool if we could add a formatter to the SwaggerProvider type constructor!

[2016-06-22 17:01] baronfel opened #34 "201 status codes should be used as a return type for operations"
### Description

POSTs that return a 201 Created can return a model, and the operation compiler should be updated to allow for that.

### Repro steps

Please provide the steps required to reproduce the problem

Using [this swagger](https://gist.github.com/baronfel/67c0cb066cc2745d082b51a3e313c28b), the ThingGetThing POST operation returns unit

### Expected behavior

The operation should return Th

[2016-06-22 17:01] baronfel commented on #34
I'll see if I can send a PR in for this after doing a bit of research around response codes that return a successful model

[2016-06-22 21:35] #34 closed

[2016-06-22 21:44] sergey-tihon commented on #34
Released in [0.5.2](https://www.nuget.org/packages/SwaggerProvider/0.5.2)

[2016-07-09 11:40] sergey-tihon opened #40 "Support special uses of `allOf` in object definition"
Details: https://github.com/APIs-guru/api-models/issues/98
Right now, schema https://api.apis.guru/v2/specs/rebilly.com/2.1/swagger.json is ignored in unit tests

[2016-07-24 14:00] derwasp opened #41 "Allow full URL's, not only hostnames"
### Description

It is not possible to specify the full URL (e.g.  `http://my.awesome.api/`) as a parameter.
The reason I need this is because I want to be able to specify both `http` and `https` endpoints whenever I want to.

Consider the following code:

[code]

Currently this will crash.

### Expected behavior

`http`/`https` prefixes are respected and taken into account when the request is con

[2016-07-25 01:55] sergey-tihon commented on #41
You should be able to create two clients for two endpoints
[code]

[2016-07-25 07:21] derwasp commented on #41
Please take a look a this screenshot:
![capture](https://cloud.githubusercontent.com/assets/10754345/17093223/421a0ddc-5248-11e6-8678-aab0faecfc80.PNG)

And that is what happens if Fiddler is launched:
![fiddler](https://cloud.githubusercontent.com/assets/10754345/17093345/fd3f6bde-5248-11e6-84a7-452d2cc6e06f.PNG)

SwaggerProvider used: 0.5.3

I guess [this](https://github.com/fsprojects/SwaggerPr

[2016-08-01 10:08] yodiz opened #42 "F# 3.0"
### Description

I get the following error when using F# 3.0 compiler, in Visual studio 2012
Warning 4   Referenced assembly '<path>\packages\SwaggerProvider.0.5.3\lib\net45\SwaggerProvider.dll' has assembly level attribute 'Microsoft.FSharp.Core.CompilerServices.TypeProviderAssemblyAttribute' but no public type provider classes were found

Same project works fine in VS2015 using F# 4.0

Is the mi

[2016-08-08 14:54] sergey-tihon opened #44 "Try to merge 3 project files in one"
### Details
https://sergeytihon.wordpress.com/2016/07/11/f-type-providers-development-tips-not-tricks/#comment-5870

### Reference implementation
https://github.com/ctaggart/froto/blob/type-provider/TypeProvider/ProtocolBuffersTypeProviderCreator.fs

[2016-08-12 06:06] xenocons opened #45 "Swagger method names nicePascalName is not a nice name."
Unsure if bug or feature, but the generated method names (https://github.com/fsprojects/SwaggerProvider/blob/2184d9e625056c1ce2070f3beca36c6df91390ae/src/SwaggerProvider.DesignTime/OperationCompiler.fs#L208) are fed through `nicePascalName`. This causes a separation between what is in the JSON schema and the function name that is generated.

E.g. `"operationId":"Application_GetLatestApplicationDet

[2016-08-17 00:44] xenocons opened #46 "SwaggerProvider and byte array"
### Description

The provider does not generate the correct types for `format : byte`

### Repro steps

The following JSON can be used to show the problem, note the testBytes property on the TestDirect type.
[code]

Saving the above JSON to a file, and referencing it like so:
[code]

Hovering over the parameter `e`  shows that the type is `string`. Additionally, if we view the binary after compila

[2016-08-17 13:01] sergey-tihon commented on #46
I am note really sure that we should treat `string` as `byte[]` in this case ....

You have an another way to specify arrays
[code]

serialization may be tricky if we decide to convert `string` to `byte[]`

[2016-08-17 13:12] sergey-tihon commented on #46
As I understand Swagger spec: `format` specify structure of `type`.
In you sample type is `string`, so swagger provider will receive `string` from the server, but we have constrain that this string should contain `base64 encoded characters`.

As workaround you can convert this string manually using
[code]

[2016-08-17 13:28] sergey-tihon commented on #45
The initial idea was to generate names that will play nice for `C#` users, because it is generated type provider and we have no stoppers to be C# friendly,

That's why I try to avoid `_` in function names, `nicePascalName` is reused from `FSharp.Data`.

How to you generate swagger schema in you case? Do you use `Swashbuckle` or you schema is hard-written?

During the testing agains [APIs.guru](htt

[2016-08-17 16:13] sergey-tihon commented on #46
How did you get this schema? Is it public service? Is it auto-generated from .NET API or hand-written?

[2016-08-17 21:15] xenocons commented on #46
@sergey-tihon sorry for delay responses. Interesting this may be a bug with Swashbuckle rather than SwaggerProvider? I wonder if https://github.com/domaindrivendev/Swashbuckle/issues/640 has relevance? I checked my version of Swashbuckle that is used on the WebAPI side and it is '0.5.3' with NewtonSoft '9.0.1'

The schema was generated automatically using F#+WebAPI using a type similar to the foll

[2016-08-17 21:27] xenocons commented on #45
Hmm , Interesting, I generate my schema using swashbuckle (see https://github.com/fsprojects/SwaggerProvider/issues/46#issuecomment-240463272), I would *like* Swagger to generate static classes (Modules) for controllers, this would be similar to the C# approach (see below).

In Visual Studio 2015 if we add a C# WebAPI project (C# WebApp -> WebAPI), then right click the new WebAPI project -> Add ->

[2016-08-17 21:28] xenocons commented on #46
Just to note, on https://github.com/fsprojects/SwaggerProvider/issues/45#issuecomment-240410660, I generated the C# types using the Microsoft REST Client codegen and it produced the correct 'byte[]' type for this situation.

[2016-08-19 19:12] sergey-tihon commented on #46
Should be fixed in [v0.5.4](https://www.nuget.org/packages/SwaggerProvider/0.5.4)

[2016-08-19 19:12] #46 closed

[2016-08-20 04:58] sergey-tihon commented on #44
I want do it, because in this case is much harder to test TP.
When everything in one assembly IDE lock this dll after test project compilation

[2016-08-20 04:58] #44 closed

[2016-08-20 05:57] sergey-tihon commented on #42
Yes, it is F# 4.0 now, but it is possible to support F# 3.0
If we will do it now, it force F# 4.0 user always add assembly redirect for `FSharp.Core.dll` (what is less than ideal)

Let's postpone it slightly until I understand how to rewrite types in quotation according to user's environment ;)

[2016-08-20 20:47] sergey-tihon commented on #29
No need for this right now

[2016-08-20 20:47] #29 closed

[2016-08-20 21:46] sergey-tihon commented on #41
Should be fixed in [v0.5.5](https://www.nuget.org/packages/SwaggerProvider/0.5.5)

[2016-08-20 21:46] #41 closed

[2016-08-31 13:26] vasily-kirichenko opened #50 "NTLM authentication"
### Description

Being running on Windows, the type provider should use current windows user credentials as it's downloading swagger schema.

### Expected behavior

It works.

### Actual behavior

![image](https://cloud.githubusercontent.com/assets/873919/18130398/91ea6de0-6f97-11e6-95ef-cea0dc69ac67.png)

### Known workarounds

No.

[2016-08-31 13:38] sergey-tihon commented on #50
The workaround is to download schema to the file on disk ;)

[2016-08-31 13:47] vasily-kirichenko commented on #50
Fixed in https://github.com/fsprojects/SwaggerProvider/pull/51

[2016-08-31 13:47] #50 closed

[2016-08-31 14:27] sergey-tihon commented on #50
Released in [v0.5.6](https://www.nuget.org/packages/SwaggerProvider/0.5.6)

[2016-09-01 07:52] vasily-kirichenko opened #52 "Generate ToString for types"
Currently FSI shows results like this:

[code]

which makes using the TP in FSI meaningless.

Suggestion: generate `ToString` overrides, similar to what we have for records, for all generated types.

[2016-09-01 08:41] sergey-tihon commented on #52
What `ToString` should return? `operationId`?

[2016-10-08 12:28] Lenne231 opened #54 "Error when using with Xamarin"
### Description

I get the following error when i try to install the package in a Xamarin Android project. Is there a way to enable SwaggerProvider for Xamarin/Mono?

![image](https://cloud.githubusercontent.com/assets/2046557/19213132/4dfcc620-8d63-11e6-81e1-d30d54ac79d0.png)
### Repro steps
1.  Create a Xamarin Android project in Visual Studio
2.  Try to install the package (v0.5.6)

[2016-10-09 09:04] sergey-tihon commented on #54
It should work on Mono (at least everything is OK on travis-ci), but Xamarin ...

What profile should I target to support Xamarin/Mono?
Still some PCL or NetStandard already works?
// @tpetricek @ovatsus @pezipink @enricosada - appreciate any suggestions

[2016-10-09 09:18] sergey-tihon commented on #54
More general question is how to create generative type provider that support ([F# 3.0](https://github.com/fsprojects/SwaggerProvider/issues/42), F# 3.1, F# 4.0) and as much platforms as possible?

[2016-10-09 18:53] nosami commented on #54
Maybe this helps https://github.com/xamarin/Xamarin.Android.FSharp.ResourceProvider . It's a type provider I wrote for Android a couple of weeks ago. The Android specific stuff is in the Android folder.

[2016-10-11 16:58] Lenne231 commented on #54
Tried several PCL profiles, none of them works, always the same error. `Profile47` seems to have a problem with YamlDotNet.

![image](https://cloud.githubusercontent.com/assets/2046557/19280119/abd05964-8fe4-11e6-93af-5250e149afc5.png)

[2016-10-21 19:35] baronfel opened #55 "Documentation usage images are out of sync with current usage"
### Description

The images on the splash page for SwaggerProvider show Operations as static members of a type, ie `PetStore.Pets.AddPet()` instead of `new PetStore().AddPet(PetStore.Pet()))`

### Repro steps

Install the provider
Point it to the default petstore schema http://petstore.swagger.io/v2/swagger.json
Try to do what's shown in the images on the docs page

### Expected behavior

The docs

[2016-10-21 19:36] baronfel commented on #55
I'm willing to submit new images to get this up to date, perhaps over the weekend.

[2016-10-23 05:09] sergey-tihon commented on #55
@baronfel Thx, I will update docs soon

[2016-10-23 07:00] sergey-tihon commented on #55
Done here - http://fsprojects.github.io/SwaggerProvider/

[2016-10-23 07:00] #55 closed

[2016-10-23 07:03] baronfel commented on #55
Holy smokes, Sergey the new site is gorgeous! Thanks for updating that :)

[2016-10-26 19:47] laygr commented on #54
PCL should be the way to go for supporting most platforms (id est, the most restrictive platform in terms of dependencies). I recommend profile 259, which supports: .NET Framework 4.5,   Windows 8, Windows Phone 8.1, Windows Phone Silverlight 8 and Xamarin.iOS, Xamarin.Android. Xamarin.etc
src: http://danrigby.com/2014/05/14/supported-pcl-profiles-xamarin-for-visual-studio-2/

(very nice library!)

[2016-12-01 19:00] baronfel opened #59 "FormData parameters of type 'file' get sent as 'System.Byte[]' instead of the buffer contents."
### Description

Given an operation that has a parameter of type 'file' whose location is 'formData', the resulting Request logic correctly makes a BodyType of FormData, but the coerceString method taked the Expr representing the byte[] parameter and calls `Object.ToString()` on it, resulting in the bad representation.

We should either expand the `coerceString` function in OperationCompiler.fs to

[2016-12-04 08:51] sergey-tihon commented on #59
@baronfel Thank you for so detailed description.
Do you know how to write `ASP.NET Web API` controller that will generate `formData` `file` parameter?
https://github.com/fsprojects/SwaggerProvider/blob/master/tests/Swashbuckle.OWIN.Server/UpdateControllers.fs

[2016-12-04 19:02] baronfel commented on #59
I'll try and create a repro in just a bit, but I'm operating from a hand crafter swagger.yaml so I'll have to go research how swashbuckle expects controller actions that represent file data to look.

[2016-12-05 15:28] baronfel opened #61 "Responses of Type 'file' do not get deserialized correctly"
### Description

This is tied logically to the previous issue I submitted, #59.  In the swaggerprovider we alias Swagger type 'file' to `byte[]`, but when I attempt to use a generated method of this type I get an exception at runtime.

The exception is because we're trying to use newtonsoft.json to `deserialize` the response string from the request into a byte[], but it's not a valid JSON value.

[2016-12-05 15:31] baronfel commented on #61
I'd be willing to look at this one, as well as the previous issue.

I think the approach should be to check the response swagger type before calling Http.RequestString, and either following that branch to return a serialized object representation if the type is not 'file' or splitting and returning either the stream or a byte[] of the stream if the swagger type is 'file'.

I'd like to look into us

[2016-12-05 21:22] sergey-tihon commented on #61
@baronfel Thank you for doing this
Ping me then PR will be ready for merge or you need my participation.

[2017-02-10 15:11] sergey-tihon commented on #61
@baronfel Could you please describe me a benefit of using `Stream` instead of `byte[]` in this case?

[2017-02-10 15:15] baronfel commented on #61
Well, I think we'll need a more complex type than just byte because for form data we also need to be able to specify the mimetype of the uploaded data. That could be as a byte array with an optional mimetype parameter, but I also want to go to stream so that we don't have to buffer potential totally large files into memory before writing them somewhere.

As an example, I was using the swaggerprovi

[2017-03-09 21:17] willsam100 commented on #54
What's the status of this?
I tried this with Xamarin Forms and had the same problem. As @nosami said, a PCL would be the way to go. I can confirm this does work on mono targeting .NET 4.5 i.e running on the mac.
Having swaggerProvider support iOS and Android (as well as the PCL for Xamarin Forms, if that is possible), would be a great win for F# in the mobile space.
Happy to help out in any way th

[2017-03-10 06:03] sergey-tihon commented on #54
Yes, I does not work for iOS, Android and PCL now.
I do not know of any `generative` TP that works on PCL... Probably we should convert SwaggerProvider to erased type provider and do not generate real types...

The easiest way (as it looks for me now) is to wait for .NET Standards 2.0 when we will be able to compile TP for .NET Standard and deliver them to all platforms.

There is at least two rea

[2017-03-11 23:26] gshackles opened #65 "Trailing Slash in basePath and leading slash in route path leads to double slash in URL"
### Description

When the Swagger input has a `basePath` with a trailing slash, and a path with a leading slash, the resulting concatenated URL will end up with two slashes. While this is what was technically specified in the input, it's a good chance to be a little more flexible and remove one of the slashes from the resulting URL.

### Repro steps

Use a Swagger input that looks something like:

[2017-03-12 06:40] sergey-tihon commented on #65
@gshackles What is wrong with `//` in url?
I always thought that servers process such requests correctly.

[2017-03-12 15:43] enricosada commented on #54
well, see https://github.com/Microsoft/visualfsharp/issues/2400#issuecomment-279028891 for info about generative TP and netstandard 2.0. maybe generative are not goin to be in, or will need some changes.. @sergey-tihon if interested about that, join discussion please

[2017-03-12 16:00] gshackles commented on #65
Depends on the server I think, last night I ran into this with the VS Mobile Center API where the extra slash broke things

[2017-03-12 19:00] sergey-tihon commented on #65
Should be fixed in [0.5.7](https://www.nuget.org/packages/SwaggerProvider/0.5.7)

[2017-03-12 19:00] #65 closed

[2017-03-13 07:42] sergey-tihon commented on #54
@enricosada  thank you for pointing me to this discussion.
Link this discussion with related issue https://github.com/Microsoft/visualfsharp/issues/2406#issuecomment-286034837

[2017-03-14 15:40] 7sharp9 commented on #54
Generative providers work just fine if you make outputs available for both droid and iOS.

[2017-03-14 15:41] migueldeicaza commented on #54
You do not need a PCL for xamarin, you could use bait and switch (which nugetizer 3000 makes easy).  That way you have an API "contract" that is PCL or Netstandard and limited by those and you have a full android/iOS implementations that use the full API.

[2017-03-14 15:53] 7sharp9 commented on #54
From memory `Http.fs` is from Hopac which will have some thread usage scenarios not implemented by iOS/droid, so that will need a patch too.

[2017-03-18 18:04] sergey-tihon opened #67 "Support `security` & `securityDefinitions `"
Find out simpler way to support security in schema (constructor params?)
https://api.apis.guru/v2/specs/amadeus.com/1.2/swagger.json

[2017-03-27 15:19] sergey-tihon opened #69 "Pluggable serializer ?"
Current implementation emit code that uses `Json.NET` in runtime to serialize & deserialize request payload.

Theoretically we could allow to plug another serializer before use of provided types/api.

[2017-03-28 20:35] sergey-tihon commented on #54
Before I publish new version of SwaggerProvider, I would love hear feedback from PCL, Xamarin & TP experts about the design (and possible pitfalls): @7sharp9 @nosami @mavnn @cartermp @dsyme

### Description
SwaggerProvider is `generative` type provider and I would like to keep `generative` because it will allow to use type provided by TP in C# project. This scenario is particularly important for X

[2017-03-28 21:14] 7sharp9 commented on #54
1. Sounds sensible, although compiling per platform would be necessary if certain portions of code need to be changed for those platforms.

2. Tricky if compiled once as the Fsharp.Core in the provider 259 would need to match that of the consumers project.

3. No idea, I don't use VS.

4. Yes is 1. is not an issue

5.  I have one that targets 3 different reference assemblies but they all use the s

[2017-03-28 22:28] 7sharp9 commented on #54
I just tried with iOS just to see and got the following error:

[code]

On accessing:
[code]

[2017-03-30 18:41] dsyme commented on #54
I don't immediately spot any specific problem.  However cross-targetinng type providers are hard to get right and test. We will need to put a lot more effort into this.  This is a good starting point - since your Profile259-executing type providers will also be usable with both .NET Core and .NET Framework versions of the F# compiler.

I wasn't actually aware that it was possible to write a Profil

[2017-04-03 21:03] sergey-tihon commented on #54
Current status:

I am able to add NuGet package to  Profile259 PCL class library.
It installs correctly and IntelliSense work in VS2017, but when I build I see the error

[2017-04-04 15:06] sergey-tihon commented on #54
@dsyme sure and even better - please try master branch of  https://github.com/sergey-tihon/generative-typeprovider-vnext this is minimal repro with very simple generative TP and tests

[2017-04-06 04:52] baronfel commented on #59
I've taken some more time on this tonight, and it seems that the blocker is that FSharp.Data.Http doesn't support multipart data at all.  I'm working on that to unblock this feature. The Issue on that repo is https://github.com/fsharp/FSharp.Data/issues/811.

It's a big one though :(

[2017-04-06 04:59] sergey-tihon commented on #59
@baronfel do you alternatives for `Http.fs` (file) that we can use? We need something that work on PCL profile 259 ... We use FSharp.Data just because it was simple for the beginning

[2017-04-06 05:31] baronfel commented on #59
I suppose the leading contenders would be System.Net.HttpClient, which I've used before for multipart content, and also Haf's Httpfs. I can see of either of those are profile 259 compliant

[2017-04-06 18:40] sergey-tihon commented on #28
@alfonsogarciacaro where is the latest version on Fable TP that `works`?

[2017-04-08 10:34] alfonsogarciacaro commented on #28
Hi @sergey-tihon! Fable 0.7 should work with Type Providers, the main problem with Fable 1.0 is it's a netcore app and TPs won't work with netcore until netstandard 2.0 is released (July?).

I've been thinking about giving support to the Swagger TP. At the beginning I thought it would be better to create a specific version of the TP for Fable, but now I'm considering it it's easier to just provide

[2017-04-08 10:37] alfonsogarciacaro commented on #28
Hi @sergey-tihon! Fable 0.7 should work with Type Providers, the main problem with Fable 1.0 is it's a netcore app and TPs won't work with netcore until netstandard 2.0 is released (July?).

I've been thinking about giving support to the Swagger TP. At the beginning I thought it would be better to create a specific version of the TP for Fable, but now I'm considering it it's easier to just provide

[2017-04-08 11:43] sergey-tihon commented on #28
I think that we should go with Fable 1.0 ... As I understand everything is unclear with type provider. netstandard 2.0 may help with erased type providers, but probably [not with generative](https://github.com/Microsoft/visualfsharp/issues/2406).

I've created template sample generative type provider https://github.com/sergey-tihon/generative-typeprovider-vnext with goal to find out the way of mas

[2017-04-13 04:58] sergey-tihon opened #72 "Support inherit and expend types"
### Schema

https://api.apis.guru/v2/specs/azure.com/arm-storage/2016-12-01/swagger.json

### Sample
[code]

`StorageAccount` should have all properties of `Resource` type // cc @stuartjdavies

### Spec

Composition and Inheritance (Polymorphism)

Swagger allows combining and extending model definitions using the allOf property of JSON Schema, in effect offering model composition. allOf takes in a

[2017-04-13 14:55] sergey-tihon commented on #72
Fix is on the way
<img width="1168" alt="allof-props" src="https://cloud.githubusercontent.com/assets/1197905/25010277/4e020610-2072-11e7-8622-a549f7c8b1bf.png">

[2017-04-13 19:22] sergey-tihon commented on #72
Released in [v0.6.0](https://www.nuget.org/packages/SwaggerProvider/0.6.0)

[2017-04-13 19:22] #72 closed

[2017-04-13 19:22] sergey-tihon commented on #40
Fixed in [v0.6.0](https://www.nuget.org/packages/SwaggerProvider/0.6.0)

[2017-04-13 19:22] #40 closed

[2017-04-15 18:33] sergey-tihon commented on #52
Released in [v0.6.1](https://www.nuget.org/packages/SwaggerProvider/0.6.1)

[2017-04-15 18:33] #52 closed

[2017-05-01 19:11] stweb commented on #28
I stumbled upon this today. My workaround is using NSwag to create a TypeScript client from swagger.json, then using ts2fable...

[2017-05-04 23:45] willsam100 opened #75 "SwaggerProvider reported an exception object not set to a reference"
### Description
Using Mono.5.0.0.78 the following error occurs:
"swaggerProvider reported an exception object not set to a reference"

### Repro steps
- Install mono.5
- create project with latest version of SwaggerProvider from nuget
- load the petStore example
- see the exception (either from building on in REPL)

### Expected behaviour
Not to throw an exception

### Actual behaviour
throws exce

[2017-05-09 21:02] jimbobbennett commented on #75
Tested with Mono Framework 5.0.0.94 and I can still reproduce the error

[2017-05-10 07:36] sergey-tihon commented on #75
Ok, thanks, seems that I can reproduce it in this PR https://github.com/fsprojects/SwaggerProvider/pull/76

With different Mono versions:
- [beta](https://travis-ci.org/fsprojects/SwaggerProvider/jobs/230629593) = `(Stable 5.0.0.94/1d0445b Wed May  3 17:40:24 UTC 2017)`
- [nightly](https://travis-ci.org/fsprojects/SwaggerProvider/jobs/230629594) = `(Nightly 5.3.0.262/137e1e7 Tue May  2 14:47:25 UT

[2017-05-12 12:23] dsyme commented on #75
Please update to use the latest version of ProvidedTypes.fs, as described in  https://github.com/fsprojects/FSharp.TypeProviders.StarterPack/issues/121

[2017-05-26 04:02] sergey-tihon commented on #75
Fix released in [Swagger Provider 0.7.0](https://www.nuget.org/packages/SwaggerProvider/) and should work correctly on Mono v5.0.1.1 and later

[2017-05-26 04:02] #75 closed

[2017-06-01 12:41] landocalris opened #77 "Error FS3033: The type provider could not load file or assembly Newtonsoft.Json"
### Description

Adding SwaggerProvider to a Console application causes the build to fail.

### Repro steps

1. Create a Visual F# Console Application

2. Add SwaggerProvider using NuGet

3. Make the Program.fs file look like this:
[code]

4. Build the project

5. Output from Build shows this error:

### Known workarounds

It works in F# interactive.

### Related information

* Operating system

*

[2017-06-01 14:14] sergey-tihon commented on #77
@landocalris Thank you for so detailed issue description!
I think that easiest solution (at least for now) is to bump dependency version to 10.0.2
Please try [Swagger Provider v0.7.1](https://www.nuget.org/packages/SwaggerProvider/0.7.1) and reopen this issue if something.

[2017-06-01 14:14] #77 closed

[2017-06-01 15:09] landocalris commented on #77
Thank you for your fast response.  That fixed it.  Thank you!

[2017-06-08 21:20] flotrek opened #79 "Client-side caching ?"
Hello,
I'm looking to implement a caching middleware (based on local and/or distributed memory) to use with this awesome swaggerProvider.
Is that something wise to implement within the TypeProvider itself ?

[2017-06-09 07:31] sergey-tihon commented on #79
It is impossible right now, but the idea generally makes sense ...
But technically we could pass each HTTP call thought some pluggable caching component (without caching by default)

[2017-06-11 06:17] sergey-tihon commented on #42
No plans to support F# 3.0 in the near future. According to [this](https://twitter.com/sergey_tihon/status/860770073983807488) I suppose it will stay F# 4.0.

[2017-06-11 06:17] #42 closed

[2017-06-11 06:19] sergey-tihon commented on #69
Duplicate of #33

[2017-06-11 06:19] #69 closed

[2017-06-23 14:44] sergey-tihon opened #81 "Server API stubs provider"
https://github.com/panesofglass/SwaggerProvider/pull/1/files

[2017-08-03 20:41] Krzysztof-Cieslak opened #82 "Optional query parameters"
### Description

Optional query parameters generates are not respected - generated functions require providing all query parameters

### Repro steps

https://github.com/Krzysztof-Cieslak/SwaggerProviderOptionalQuery

### Expected behavior

Using optional query parameters should generate functions using optional parameters, or options.

### Schema
[code]

[2017-08-05 14:46] stweb commented on #28
Now that 2.0 is in preview 2, did anyone try making this work with .net core?

[2017-08-06 00:47] alfonsogarciacaro commented on #28
There are still several problems with preview 2, specially with the SDK, so I would wait until preview 3 at least before trying anything. Also, the main problem to adapt the Swagger provider is it uses System.Http classes in the erasure code, which are not compatible with Fable at the moment. There are two possible solutions for this:

- Use conditional compilation (`#if FABLE_COMPILER`) to replac

[2017-08-08 09:50] sergey-tihon commented on #82
Fix released in [v0.8.0](https://www.nuget.org/packages/SwaggerProvider/0.8.0)

[2017-08-08 09:50] #82 closed

[2017-08-08 10:13] Krzysztof-Cieslak commented on #82
Thanks a lot! 😍

[2017-08-21 11:46] sjuberman opened #84 "Provider not updating after schema changes or new schema url"
### Description

Provider does not update when updating schema or when changing schema URL

### Repro steps

Please provide the steps required to reproduce the problem

1. Create a Console application in VS2017
2. Add SwaggerProvider reference
3. Add a new type (The PetStore example for example.)
4. Change the schema URL to another valid Swagger schema
5. Notice that the provided types do not chan

[2017-08-21 13:30] sergey-tihon commented on #84
Hmm... interesting... Do you experience the same behavior when do not use `[<Literal>]` variable and do paste schema URL directly into type definition `SwaggerProvider<"url_here">`?

On TP side we do caching using schemaUrl... and it should work correctly if IDE does can to TP after each schemaUrl change...

[2017-08-21 19:49] sergey-tihon commented on #84
Please do try [v0.8.1](https://www.nuget.org/packages/SwaggerProvider/0.8.1)

[2017-08-22 09:09] sjuberman commented on #84
@sergey-tihon This works perfectly now. Thank you very much. Even updates when I change the remote schema. How is it getting the updates? Is it polling the URL?

[2017-08-22 10:00] sjuberman commented on #84
Alrighty, this makes the user experience a whole lot better. I'll close this issue. Thanks for the quick response!

[2017-08-22 10:00] #84 closed

[2017-08-23 09:12] 7sharp9 opened #86 "Support for netstandard2.0"
### Description

Support in netstandard2.0 that I can use Swagger in a core net standard project referenced by mobile applications

I wonder if there is an elaborate work around netstandard2.0 or interim patch while things are finally worked out?

[2017-08-23 09:18] sergey-tihon commented on #86
Not yet =(
We have some discussion here  - https://github.com/fsprojects/SwaggerProvider/issues/54
but the main stoppage is that it is generative type provider.

It may be possible if we decide to convert it to erased TP (or support both options) and try this workaround https://github.com/Microsoft/visualfsharp/issues/3303 ...

But as I know there is no TP (even erased) completely migrated to `net

[2017-08-23 09:25] 7sharp9 commented on #86
I wonder if you could create a pure facade for net standard that called into one where your usage is in a 4.6.1 project, like an elaborate bait and switch.

[2017-08-23 13:50] sergey-tihon commented on #86
@7sharp9  TBH, I do not understand what are you talking about ... at least yet.

[2017-08-24 09:43] 7sharp9 commented on #86
:-)  Why do you need to target a generative?  So C# can consume it?

[2017-08-24 15:40] sergey-tihon commented on #86
Yes, this was the goal. primarily for those who do UI in C#

[2017-08-26 20:46] 7sharp9 commented on #21
I would say asynchronous calls is a must, I would not expect any calls to be synchronous.  In terms of Task/Async I would say support both, use a param on the TP to generate the non default one.

[2017-08-26 20:46] 7sharp9 commented on #67
Is oauth2.0 supported?

[2017-08-27 21:31] sergey-tihon commented on #67
No by TP itself, so we do nothing with information from `security` section
but we allow customizing all web request http://fsprojects.github.io/SwaggerProvider//petstore.html#Generated-constructor and https://stackoverflow.com/questions/37566751/what-should-i-do-to-prevent-a-401-unauthorised-when-using-the-swagger-type-provi/37628857#37628857 so technically you could add any authentication method.

[2017-08-30 19:08] kMutagene opened #87 "Using the SwaggerProvider in a library"
Is it possible to use the SwaggerProvider in a library using an embedded ressource, similar to the F# Data [JSONProvider](http://fsharp.github.io/FSharp.Data/library/JsonProvider.html) ?

[2017-08-30 20:00] sergey-tihon commented on #87
Hmm.. Interesting question! SwaggerProvider does not support embedded resources, but I am not sure that we have to...

SwaggerProvider is generative type provider, so during the library compile time all types should be compiled and merged into target assembly.

[2017-09-09 20:00] kMutagene commented on #87
hi sergey,
thank you for your answer!

In our case the problem was that building worked, but after referencing the dll the generated methods/types were not found. After fixing the file path, everything worked as you said.

[2017-09-09 20:00] #87 closed

[2017-10-03 11:08] enricosada commented on #86
just curiosity.
Is hard to do this also as erasing one in addition to generative? the two TP types are a lot different?

[2017-10-27 07:57] sergey-tihon commented on #86
It is possible to have both, but we are working on migration to new TP SDK that should allow as to compile netstandard2.0/netcore2.0 at some point.

[2017-10-28 14:16] sergey-tihon opened #89 "Try Legivel for Yaml parsing"
Try https://www.nuget.org/packages/Legivel/

[2017-11-01 21:18] danyx23 opened #90 "Extract swagger parsing code into separate library?"
### Description

The SwaggerProvider project includes the code to parse what looks like a significant subset of swagger v2. I think it would be valuable to extract this into it's own F# library. It might also make upgrading to openapi v3 cleaner.

Please let me know if you would be interested in a PR towards this end (can't promise I will get around to doing it soon though). Thanks!

[2017-11-17 11:28] yodiz opened #91 "Full init constructor for provided types"
### Description
As it is now Swaggerprovider generates mutable classes for objects. Would it be possible to generate immutable F# records?

Options types for non required fields would also be nice :)

If F# Records are not possible, is it possible to have a default constructor on the generated type that sets all properties of the object? This would minimize risk of not setting an property by accid

[2017-11-18 12:24] sergey-tihon commented on #90
What is your use case? What you plan to do with parsed schema?

I do not see any reason (for now) to create the separate NuGet package for the parser, we can move the code to `SwaggerProvider.Runtime.dll` and make public and easy to use. This also means slightly different runtime dependencies, we have to add the dependency to YAML parsing library to support specs in YAML format, but it definitely

[2017-11-18 12:50] sergey-tihon commented on #91
According to my knowledge - no, TP SDK does not allow to emit record types https://github.com/fsharp/fslang-suggestions/issues/154 - you may vote for this feature if you like to see it in some future.

SwaggerProvider already provides `Option<T>` when T is not nullable - see [here](https://github.com/fsprojects/SwaggerProvider/blob/master/src/SwaggerProvider.DesignTime/DefinitionCompiler.fs#L54-L7

[2017-11-19 05:25] sergey-tihon commented on #89
We cannot use Legivel (at least for now) because parsing is really slow https://github.com/fjoppe/Legivel/pull/4

[2017-11-21 11:01] yodiz commented on #91
Having one empty constructor, and another one that set all the properties of the object would be very helpfull. Any idea when and if you will get around to it? I could give it a try, but i dont have much experience on the coding-side of typeproviders.

I would prefer having fields marked with required=false generated as an Option<_>. I see your point, but now you get no distinction if fields are r

[2017-11-22 06:02] sergey-tihon commented on #91
No ETA for release (I do plan big changes in provider) but initial implementation is here https://github.com/fsprojects/SwaggerProvider/pull/92/commits/8eb0d889498bd240affcfc8559ae8e81df740717

![2017-11-22_0853](https://user-images.githubusercontent.com/1197905/33112326-bbca9536-cf63-11e7-83c5-08ba8277e34b.png)

[2017-11-22 06:08] sergey-tihon commented on #91
if the property type is a number then you will see difference in types ...

`type=number` + `required=true` -> `int`
`type=number` + `required=false` -> `Option<int>`

but when the property is `string` then it will `string` for all both options because `null` is the correct value for the string.

What will be the benefit of generation `Option<string>` properties?

[2017-11-22 11:55] yodiz commented on #91
Oh great, i'll test it. Thanks and well done :)

About the Option<_>:
I just prefer that the fields optionality is described in a "typed manner".

Let's assume you have an Object Pet that has a Required PrimaryCategory of the type PetCategory and another field SecondaryCategory that is optional. With an option type for reference-objects aswell that are optional i just think it gets more intuitive.

[2017-11-22 21:46] baronfel commented on #91
@sergey-tihon perhaps for the case when the user has requested option types, we can do an Option.ofObj on the deserialized response, to eliminate Some(null) cases and keep the model as pure as possible?

[2017-11-23 06:00] sergey-tihon commented on #89
Close it for now

[2017-11-23 06:00] #89 closed

[2017-11-23 06:08] sergey-tihon opened #93 "Option/Nullable type for not required properties"
Type provider should provide optional types for the not required properties.

Initially proposed by @yodiz here https://github.com/fsprojects/SwaggerProvider/issues/91#issuecomment-346329385 , user votes are here https://twitter.com/sergey_tihon/status/933323948791607297

#### Option (default behavior)

[code]

#### Nullable

`Nullable` should play nicely with F# as well, but primary rationale to

[2017-11-23 06:11] sergey-tihon commented on #91
@baronfel yes, probably we should try it. I did open new issue to track this request #93

I close this one because full-init ctor is released in `v0.10.0-alpha1` package.

[2017-11-23 06:11] #91 closed

[2017-11-23 06:16] sergey-tihon commented on #90
SwaggerParser in released in [v0.10.0-alpha1](https://www.nuget.org/packages/SwaggerProvider/0.10.0-alpha1)

It should work like
[code]

<img width="891" alt="2017-11-23_0916" src="https://user-images.githubusercontent.com/1197905/33160631-00c045fc-d02f-11e7-9cf7-48a30d170791.png">

[2017-11-23 06:16] #90 closed

[2017-11-23 08:24] danyx23 commented on #90
Cool, thanks! I might need a more complete part of the swagger information (e.g. custom extensions starting with x-) - I'll explore more and get back in touch once I know more.

[2017-11-24 17:12] sergey-tihon commented on #93
This feature is implemented in [v0.10.0-alpha2](https://www.nuget.org/packages/SwaggerProvider/0.10.0-alpha2)

[2017-11-24 17:12] #93 closed

[2017-12-01 06:03] DmitryBatalov opened #94 "Fails on very basic scenario at v0.9.0"
### Description

Fails on very basic scenario. No issue in 0.8.1.

### Repro steps

1. Create console application.
2. Add  reference to SwaggerProvider 0.9.0
3. Add script.fsx with following code (don't forget to add it to project file)
[code]
4. Send it to  REPL and you'll get an error.

### Expected behavior

No issue

### Actual behavior
REPL reports
[code]

### Known workarounds

Downgrade to

[2017-12-01 12:53] sergey-tihon opened #95 "Generic provided types"
There is an interesting schema that requires some attention

https://eaccountingapi-sandbox.test.vismaonline.com/swagger/docs/v2

TODO:
- [x] Add schema to tests
- [x] Check what type will be provided for `PaginatedResponse[AccountApi]`

[2017-12-01 16:55] sergey-tihon commented on #94
This particular issue should be fixed in [v0.10.0-alpha3](https://www.nuget.org/packages/SwaggerProvider/0.10.0-alpha3)

But now we have another very interesting issue with TP in FSI

Repro script
[code]

but at the same time, it works if compiled into the console application
![2017-12-01_1953](https://user-images.githubusercontent.com/1197905/33493561-7d72e174-d6d1-11e7-8c43-37bcbc2fd919.png)

[2017-12-01 19:48] #95 closed

[2017-12-01 20:15] sergey-tihon commented on #94
`v0.9.0` is unlisted because it was really broken 😞

Full fix is provided in [0.10.0-alpha4](https://www.nuget.org/packages/SwaggerProvider/0.10.0-alpha4)

FSI cannot load type with square brackets in name like `PaginatedResponse[AccountApi]` so you @DmitryBatalov a unique schema =)

`v0.10.0-alpha4` generates nicer names now - `PaginatedResponseAccountApi`

![2017-12-01_2309](https://user-images.

[2017-12-01 20:15] #94 closed

[2017-12-03 16:17] sergey-tihon opened #96 "Support namespaces in definitions"
After issues #94 I did test to check what type names we generate on known schemas - here is [the result](https://gist.github.com/sergey-tihon/6a41f04d7fa05c81e6b30eef1037147d) In most cases we generate types with name equal to the definition in the schema, but there are [cases where it is not so](https://gist.github.com/sergey-tihon/6a41f04d7fa05c81e6b30eef1037147d#file-swaggerprovider-typenames-c

[2017-12-05 05:26] sergey-tihon commented on #96
Result from the prototype
<img width="969" alt="2017-12-05_0824" src="https://user-images.githubusercontent.com/1197905/33591310-e96da0a0-d995-11e7-8c7c-f9c294287f91.png">

[2017-12-05 10:50] sergey-tihon commented on #96
Released in [v0.10.0-alpha6](https://www.nuget.org/packages/SwaggerProvider/0.10.0-alpha6)

[2017-12-05 10:50] #96 closed

[2017-12-10 19:16] sergey-tihon commented on #45
This feature is implemented and released in [0.10.0-alpha7](https://www.nuget.org/packages/SwaggerProvider/0.10.0-alpha7) but turned off by default.

In order to turn it on, you need to add parameter `IgnoreControllerPrefix = false`
For each controller will be generated separate `*Client` class

### Sample
[code]

<img width="1141" alt="2017-12-09_2203" src="https://user-images.githubusercontent.c

[2017-12-10 19:16] #45 closed

[2018-01-25 14:23] sergey-tihon opened #98 "Migrate to Microsoft.OpenApi.Readers"
Seems like we can reuse MS in scope of https://github.com/Microsoft/OpenAPI.NET
provide readers (parsers) for OpenAPI v3 and OpenAPI v2(aka Swagger) schemas
https://www.nuget.org/packages/Microsoft.OpenApi.Readers/

Maybe we could reuse them...

https://swagger.io/blog/announcing-openapi-3-0/

[2018-01-30 04:37] sergey-tihon commented on #90
I do plan to remove custom parser from the codebase and migrate to [Microsoft.OpenApi.Readers](https://www.nuget.org/packages/Microsoft.OpenApi.Readers/) that will support `v2` and `v3` schemas ( when known bugs will be fixed)

Please, do not rely on the parser exposed in `v0.10.0-alpha1`. I will track future progress here https://github.com/fsprojects/SwaggerProvider/issues/98

[2018-01-31 18:02] sergey-tihon commented on #21
Released in [v0.10.0-alpha9](https://www.nuget.org/packages/SwaggerProvider/0.10.0-alpha9) thanks to @baronfel !

[2018-01-31 18:02] #21 closed

[2018-01-31 19:08] baronfel opened #100 "Use HttpClient instead of FSharp.Data.Http"
Let's talk about this here instead of cluttering the 1.0 PR.

Info on how to use HttpClient correctly:
* Doing it wrong: https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/
* Doing it right: https://www.stevejgordon.co.uk/introduction-to-httpclientfactory-aspnetcore

Can we lift some of the implementation details from the httpclient factory or something?

[2018-01-31 19:45] sergey-tihon commented on #100
What if it will be the responsibility of SwaggerProvider user?
Or at least this behavior is not the part of the provided code, only some simple default behavior in default ctor.

We generate the client that inherits from `SwaggerApiClientBase`, but the user can inherit from our provided client and override any behavior.

[code]

- `CreateClient` - aka factory method, default implementation may ret

[2018-01-31 19:56] sergey-tihon commented on #100
Or even better, we do not need `CreateClient`, the only place where we need it is `CallAsync`. So in order to change the behavior user have to override `CallAsync`.

So one provided client (lets say`PetStoreClient`) has one `HttpClient` inside.
If the user uses short living `PetStoreClient` objects - everything is fine. If user needs long-living client or wants to use the single instance for appli

[2018-01-31 20:03] baronfel commented on #100
So the intent would be to generate clients using this new base class (or allow the user to specify a base type that we could dynamically construct), then instead of `RuntimeHelpers.XXX` use `this.XXX` via expressions/reflection?

[2018-01-31 20:13] sergey-tihon commented on #100
Correct, my initial idea was to generate client based on `SwaggerApiClientBase` with some default behavior implemented but allow users to create a new client that inherit from the generated client and override behavior. Also, replace `RuntimeHelpers.XXX` to `this.XXX`, we have `this` as 1st parameter of instance methods and we can find `XXX` once outside of quotation like you do with `cast`, so `t

[2018-02-01 18:47] baronfel commented on #100
I think you're right about needing `CallAsync`. If we're worried about Fable, though, we can't necessarily use `HttpRequestMessage` and `HttpResponseMessage` either, right? Those don't exist for Fable?

[2018-02-01 18:59] sergey-tihon commented on #100
We can ignore `Fable` for now, it is another (and quite hard) topic and focuses on stabilizing API and extension points.

[2018-02-07 19:57] sergey-tihon opened #101 "Incorrect instance type Parameter name: obj"
### Description

Reported by @tencek on gitter

### Repro steps

Please provide the steps required to reproduce the problem

1. Restore the latest version from NuGet

2. Try sample from site

[code]

### Expected behavior

Works =)

### Actual behavior

<img width="730" alt="2018-02-07_2253" src="https://user-images.githubusercontent.com/1197905/35938323-c9a37802-0c59-11e8-8bc5-13158fb939a9.png">

[2018-02-07 20:03] baronfel commented on #101
It does look like that, but that's a very odd situation because we have that very same code in the test suite:
[code]

[2018-02-07 20:13] sergey-tihon commented on #101
Yes... the only difference is that it may load difference dependent assemblies ...

[2018-02-07 20:21] baronfel commented on #101
So you think instead of using `typedefof<Async<_>>` and/or `typedefof<Task<_>>` I need to get the runtime-referenced assemblies and find those types in the runtime assemblies?

[2018-02-07 20:39] sergey-tihon commented on #101
I hope no... in my understanding TP SDK should do it for us (and warn when it cannot)!
I think it may be an old & new version of json/yaml library that works differently ...

[2018-02-07 20:55] baronfel commented on #101
I dunno if it is those dependencies or if it's the async/task stuff, but I did manage to do a version that looks for FSharp.Core and mscorlib form the explicit set of runtime resolved assemblies that the Provider Context gives to us. All the tests are passing, let me send a PR just in case.

[2018-02-07 21:08] baronfel commented on #101
@sergey-tihon you pushed a beta with updates that isn't quite working for me on a new mono project :( I get the same instanciation error on 0.10.0-alpha9 and 0.10.0-beta1.

[2018-02-07 21:34] baronfel commented on #101
Interesting: On mono 5.8, with your beta01, here's what I get when compiling a sample project against net461 with just the sample code above:
[code]

[2018-02-07 22:18] baronfel commented on #101
I added logging of the runtime assemblies to my local build of the provider and here's what I get at the moment:
[code]
This goes hand in hand with the following errors:
[code]

[2018-02-08 08:22] sergey-tihon commented on #101
With latest NuGet it should resolve `YamlDotNet, Version=4.3.0.0` and `newtonsoft.json/10.0.3`
[code]

with latest changes in `dev` branch, I see that on my WinVM VS can resolve all dependencies and even can correctly work a couple of seconds before `Parameter name: obj `. This is weird ...

![vs_swagger_low](https://user-images.githubusercontent.com/1197905/35962377-2f69a608-0cc2-11e8-8d4e-1f00fd

[2018-02-08 08:28] tencek commented on #101
@sergey-tihon - that's exactly what I'm observing. It seems to be perfectly OK until I try to call some of the generated function list.

[2018-02-10 03:30] baronfel commented on #101
This is still super weird. I did some tinkering around the `typedefof` stuff, to use the `ProvidedTypeBuilder.MakeGenericInstance` instead, but that didn't fix the problem. On my mono 5.8 machine I still get assembly resolution errors trying to find YamlDotNet. @sergey-tihon  this is some WIP stuff that I put on top of your package update changes.

[2018-02-10 03:30] baronfel commented on #101
May be worth raising a flag over at the TPSDK repo for advice?

[2018-02-10 05:26] sergey-tihon commented on #101
Let's first fix issue with `YamlDotNet` on your machine, and repro the same behavior as mine
Here is repo with all dependencies (created on Mono) - https://github.com/sergey-tihon/swagger-issue101

Here is VS Code behavior on macOS
![sw_vs_code](https://user-images.githubusercontent.com/1197905/36058838-0e8fbe9c-0e3c-11e8-90b1-dcc3b98e7d04.gif)

[2018-02-10 17:08] baronfel commented on #101
I can reproduce the odd editor behavior with the sample project, but the project compiles and runs fine.  I altered the code to retrieve pet 7316746567143381226 (did some testing via the API to find a known good pet id) and print it out and I get the expected Pet data:

For
[code]

I get
[code]

[2018-02-10 18:45] baronfel commented on #101
I'm interested to see if the `ProvidedTypeBuilder` change has any effect on the test repo you made.

[2018-02-10 19:13] sergey-tihon commented on #101
I pushed all changes in `SwaggerProvider 0.10.0-beta02` and updated test repo but looks like it behaves the same at least in VS Code on masOS.

If it compiles and runs without issues, but we see strange behavior in IDE (VS & Ionide on macOS and win) ... it looks like the bug is in TPSDK or IDE (I mean FSCS that run TPSDK)...

[2018-02-13 20:31] sergey-tihon commented on #101
This issues fixed by #104 and released as [v0.10.0-beta03](https://www.nuget.org/packages/SwaggerProvider/0.10.0-beta03)

@tencek please try the latest prerelease.

[2018-02-13 20:31] #101 closed

[2018-02-13 22:15] tencek commented on #101
Thank you, I will give it a try.

[2018-02-14 05:25] sergey-tihon commented on #100
I think that our goal should best support for .net (in terms of API and performance)
Both `HttpRequestMessage` and `HttpResponseMessage ` is OK to use.

Also after listening plans for `.Net Core 2.1` I think that `HttpClientFactory` is good way to go as well ( just need to check that it exist for `net45` and play nice on full framework)

[2018-02-14 23:12] baronfel opened #106 "[Packaging] Provide netstandard-compatible packaging of the SwaggerProvider"
### Description

There's a new packaging convention for type providers that enables a new assembly resolution algorithm in the compiler. This algorithm makes it possible for Type Providers to run on .Net core.

The format for packaging is `{packageRoot}/tools/typeproviders/{fsharpVersion}/{targetRuntime}/{targetArchitecture}`.
Now, any level of that deep path can be left off, as long as the resour

[2018-02-15 06:06] sergey-tihon commented on #106
We will definitely do it once, but my initial feeling that this should be done after #92 ...

Do you understand how new packaging will play with VS 2015? How to do packaging that works for both (old and new) compilers/ide?

[2018-02-21 13:41] michalkovy opened #107 "Doesn't work with Newtonsoft.Json 11.0.1"
When I update my application that uses SwaggerProvider to use Newtonsoft.Json 11.0.1 then the SwaggerProvider will stop working, compilation fails on:
 error FS3033: The type provider 'SwaggerProvider.SwaggerTypeProvider' reported an error: Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system ca

[2018-02-21 20:24] sergey-tihon commented on #107
Thank you for reporting this @michalkovy. Do you latest stable version or beta?

As workaround, you can pin version in `paket.dependency` like `~>10.0.0`

We do have this issues because we have [custom assembly resolution code](https://github.com/fsprojects/SwaggerProvider/blob/master/src/SwaggerProvider.DesignTime/Configuration.fs) in TP that does not support this case.

I would prefer to take so

[2018-02-22 13:02] michalkovy commented on #107
We use SwaggerProvider stable (0.8.2), also Newtonsoft.Json stable. The problem is that 0.8.2 SwaggerProvider nugget package tells that it depends on "Newtonsoft.Json (>= 10.0.0)",  I see that you fixed that in beta of SwaggerProvider nugget package as it depends on "Newtonsoft.Json (>= 10.0.3 && < 10.1.0)". Thanks for workaround provided.

[2018-02-28 17:41] dsyme commented on #86
@sergey-tihon I wrote up notes of what it means to move an existing type provider to support both .NET Standard and loading into .NET Core0-based F# tooling https://github.com/fsprojects/FSharp.TypeProviders.SDK#updating-a-type-provider-to-be-suitable-for-use-with-the-net-sdk

I'd love to get this TP shifted along these lines.  Who is up for working on this?

[2018-03-10 05:57] panesofglass commented on #81
Interested in thoughts here. Should this be a type provider based on OWIN or ASP.NET Core types? Or should this potentially be a code generator tool or something else entirely?

[2018-03-10 05:58] panesofglass commented on #86
I am interested in helping, though time is hard to come by. Has anyone started this process?

[2018-03-10 18:45] panesofglass commented on #81
As I've been rebasing my prototype on top of the `dev` branch, I realized the right abstraction may be the `System.Net.Http` types for the following reasons:

1. This library already has an internal dependency on `System.Net.Http` for the `HttpClient`
2. `HttpRequestMessage -> Task<HttpResponseMessage` works on top of OWIN _and_ Azure Functions _and_ provides types that can easily be mapped into o

[2018-03-11 02:36] panesofglass commented on #98
Is this still todo?

[2018-03-13 16:43] sergey-tihon commented on #98
@panesofglass Yes, sure, but `OpenApi.NET` is not ready yet - the latest version on NuGet still fails on 77 `apis.guru` schemas - https://github.com/Microsoft/OpenAPI.NET/pull/190#issuecomment-365836110

[2018-03-13 20:25] sergey-tihon commented on #81
I agree with the implementation based on `System.Net.Http` types, and `HttpRequestMessage -> Task<HttpResponseMessage>` signature.

I think that we should do the following (in big)

[code]

So when we want to implement server API based on the generated schema, we implement the `IContract ` interface  (or partially implement it using inheritance from `DefaultServer`) and then plug this implementati

[2018-03-13 21:43] panesofglass commented on #81
@sergey-tihon I like that! I think that's a bit simpler, too, than generating a type with methods accepting implementation callbacks. Is there already an interface generated for `ProvidedClient`, or will that be new?

`OwinHost` should also be a generated type that accepts the `interface` implementation? I think just `Host` is a better name, as we may want to make mappings for different kinds of h

[2018-03-13 21:46] panesofglass commented on #81
Another question, @sergey-tihon: you mention in your comment one operation per interface, right? What about grouping those by controller prefix? By default, it would generate separate contracts per operation, but if `IgnoreControllerPrefix = false` then generate by controller prefix. That would more closely model what people think of as controllers, which might be more familiar/comfortable for som

[2018-03-13 21:46] panesofglass commented on #81
Lastly, once I make some progress on this, would you like me to re-target my PR to this repository? Sounds like there is interest in pulling it in eventually.

[2018-03-13 21:53] panesofglass commented on #81
Is it possible to generate an interface, or will this need to be some sort of base class? Can you generate an abstract type? I'm fairly new to type providers, so I'm not sure how to gen the `IContract`.

[2018-03-14 03:58] sergey-tihon commented on #81
No, but I think that it is the good thing to do.

Yes, plus maybe some other configuration parameters

Yes, names in my sample are conceptual, so if you can do better names - I am fine with it (`ServerHost`, `ApiHost` or just `Host`)

My bad, I meant one operation = one method.

Agree here as well. It is even implemented in `dev` branch, TP can provide one client by the controller.
But in this cas

[2018-03-14 04:02] panesofglass commented on #81
I was trying to find how to apply an interface implementation in a type provider and mostly found problems without solutions. Is it supported? Per @mavnn’s posts, it seems neither abstract classes nor interfaces can be successfully added to generated types, but perhaps that has changed. Any pointers?

[2018-03-14 04:03] panesofglass commented on #81
As to your comments, I’m fully on board and excited to make it happen!

[2018-03-14 04:05] panesofglass commented on #81
Last question: should we generate all this from one type provider? You could then create instances of client or host depending on use case, and you would get a shared set of interfaces, for whatever that is worth.

[2018-03-14 04:25] sergey-tihon commented on #81
I hope so, but I am not sure... We need some experiments, maybe abstract class will work instead of interface (if we will have no luck with interface)

What I know:
- Swagger spec support polymorphist in type definition, so we may want to provide type that inherit one from other at some point - https://github.com/fsprojects/SwaggerProvider/blob/dev/src/SwaggerProvider.Runtime/Parser/Parsers.fs#L25

[2018-03-14 21:25] panesofglass commented on #81
Once I get interface generation working, I will submit a PR here. For now, I think https://github.com/fsprojects/FSharp.TypeProviders.SDK/issues/211 is blocking progress. That, or my TP-fu is worse than useless, and I should sign up for an FSSF mentor to help me.

[2018-04-08 20:38] baronfel opened #109 ".Net Standard cross-targeting"
### Description

We should ship SwaggerProvider as a cross-targeting TP in time for 1.0.  This will be non-trivial.  As I see it, the step we'd need to take are

1. Update TPSDK file dependencies and ensure that we still successfully build + test afterwards.
2. Convert to dotnet SDK still under net46. this will likely involve having to update other dependencies to versions that provide netstandard

[2018-04-08 20:44] sergey-tihon commented on #109
I did some steps in migration directions during fsharp exchange, but I cannot compile TP projects - WIP version in #110 PR

[2018-04-08 20:48] baronfel commented on #109
oh that's great! I'll clone it down and see if I can see the issue.

[2018-04-09 05:10] sergey-tihon commented on #109
can we keep building for `net45` instead of `net46`?

[2018-04-12 19:18] sergey-tihon commented on #98
![win10_-_fall_creators_and_app_store](https://user-images.githubusercontent.com/1197905/38698863-22aa3c84-3e9f-11e8-96b1-2e8ae4227156.png)
Only 15 schemas still fails with NullRefs during schema parsing with `1.0.0-beta016` so `Microsoft.OpenApi` is close to release

[2018-04-16 19:04] ChrisCanCompute opened #111 "tutorial is out of date"
### Description

The tutorial [here](http://fsprojects.github.io/SwaggerProvider/tutorial.html) is out of date.

### Repro steps

N/A

### Expected behavior

The page should display compilable code:

- static methods for types (e.g. `let tag = PetStore.Tag()`)
- instance methods for endpoints (e.g. `PetStore().GetPetById(6L)`)

### Actual behavior

Presumably old behaviour is displayed:

- types `

[2018-04-18 05:25] sergey-tihon commented on #111
@ChrisCanCompute What version did you use? latest release or pre-release?

[2018-04-18 06:28] ChrisCanCompute commented on #111
Whatever nuget pulled in. I'll check when I get to work.

[2018-04-18 20:48] ChrisCanCompute commented on #111
I was using v0.8.2

[2018-06-12 20:48] ctaggart commented on #86
I think the next step for this project is finishing up the PR for the new project format migration https://github.com/fsprojects/SwaggerProvider/pull/110

[2018-06-12 20:56] ctaggart commented on #98
How about now? There have been 5 releases since then, including a stable release with bug fix:
https://www.nuget.org/packages/Microsoft.OpenApi.Readers

![image](https://user-images.githubusercontent.com/80104/41316839-0eaf69c2-6e59-11e8-8e24-5c725d483dc1.png)

[2018-09-06 11:30] jkone27 opened #113 "Support Swagger 1.2 specification (or add parameter for openapi version)"
### Description

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/1.2.md (not does not work because fails to parse swagger version (in old spec is SwaggerVersion node, new is swagger )

### Repro steps

setup a swagger endpoint with an older version e.g. 1.2 swagger/openapi specs

### Expected behavior

It would be nice to add an additional parameter, e.g.
type MyApi = SwaggerProv

[2018-09-06 14:10] sergey-tihon commented on #113
Sorry, but I think that `1.2` will not be supported ever.

In the future we plan to kill our own schema parser and migrate to OpenAPI.NET https://github.com/fsprojects/SwaggerProvider/issues/98 that support V2 and V3 schema formats.

`1.2` is too old to implement and support new parser for it.
 As workaround you may search for tool that can automatically convert from 1.2 to 2.0, like https://stack

[2018-09-06 14:10] #113 closed

[2018-10-06 00:18] panesofglass commented on #86
If you need something immediately, you may find https://github.com/Dzoukr/OpenAPITypeProvider useful.

[2018-10-27 09:32] Tr0sT opened #114 "DateTime as input parameter for api"
Api functions with System.DateTime params does not work properly

For example https://www.bitmex.com/api/explorer/swagger.json

https://www.bitmex.com/api/explorer/#!/Trade/Trade_getBucketed - function

there is no possibility to use startDate param.

[2018-10-27 09:38] #114 closed

[2018-10-27 09:38] Tr0sT commented on #114
Sorry, my mistake, шt was necessary to change CultureInfo.CurrentCulture

[2018-11-19 16:46] sergey-tihon commented on #98
I hope so, but I haven't tried new version yet.
I'll try again when my provided methods work on .net core

[2018-11-27 21:42] leofischer commented on #98
Thats okay, I am actually asking so that I can deserialize with https://github.com/fsprojects/OpenAPITypeProvider (which is only openapi3).  Is there any way to access the deserializer directly (e.g. for an API which is receives these requests) so that the same type definition can be reused?  If not, would you have any suggestions on what might work @sergey-tihon?

[2019-02-23 16:44] adamjones1 opened #115 "Failing to compile in common scenario calling array member"
Hi,

It looks like whenever a spec has an operation which returns a type containing an array of custom types, the type provider fails to compile at the point of calling that array member. Minimal repro at https://github.com/adamjones1/swagger-provider-error. (It compiles fine if line 9 of `Program.fs` calling `.Items` is commented out.) This is using version 0.8.2, though I only encountered the is

[2019-02-26 17:32] michalkovy commented on #115
We started seeing the same issue and we haven't changed our source code either. Maybe new Visual Studio update came with some component that changed behavior?

[2019-02-27 17:21] michalkovy commented on #115
Can you please create new NuGet beta package from current dev branch? It seems that new beta would work for us - older has problem for us not working with new Newtonsoft.Json library, thanks.

[2019-02-27 19:51] sergey-tihon commented on #115
Could you please try [0.10.0-beta05](https://www.nuget.org/packages/SwaggerProvider/0.10.0-beta05) it is build from latest dev

[2019-02-27 23:50] adamjones1 commented on #115
That build isn't working for us (I get another compiler error message when calling the ctor of the provider) but is there any chance we could get a hotfix for the current issue on the release package? If there's anything I can do to help, let me know.

[2019-02-28 17:43] sergey-tihon commented on #115
@adamjones1 could you please share more details about error that you see?

You sample (with minor changes) compiles in VS for Mac (2017 & 2019 Preview)

<img width="1110" alt="fullscreen_2_28_19__8_39_pm" src="https://user-images.githubusercontent.com/1197905/53586451-424eb400-3b99-11e9-8b99-9bae4bea6889.png">

[2019-02-28 18:22] adamjones1 commented on #115
Ah, apologies I wasn't aware the API had changed in the dev package - after updating the client as per your screenshot above the 0.10.0-beta05 one worked for me.

[2019-02-28 18:37] adamjones1 opened #116 "Support representing arrays as F# lists"
At the moment OpenApi arrays are represented as .Net arrays in the generated types. Is there any chance there could be a flag added to optionally use F# lists instead? Obviously arrays are best for C# interop but if you're only consuming from F# then lists have the benefits of being non-nullable, immutable, O(1)-append etc. Generally they're more idiomatic in F# so if your client app uses lists ub

[2019-03-01 20:27] bigjonroberts commented on #98
ping

[2019-03-04 07:52] sergey-tihon commented on #106
I think that it is done in `dev` branch and relaesed in [v0.10.0-beta05](https://www.nuget.org/packages/SwaggerProvider/0.10.0-beta05)

[2019-03-04 07:52] #106 closed

[2019-03-04 07:53] sergey-tihon commented on #86
It should be already done in  [v0.10.0-beta05](https://www.nuget.org/packages/SwaggerProvider/0.10.0-beta05)

[2019-03-04 07:53] #86 closed

[2019-03-10 22:02] stevewillcock opened #119 "Supporting DateTimeOffset"
Hi,

Currently the type provider generates dates as System.DateTime. Ideally (for us!) this would be DateTimeOffset. [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6) includes a time zone and currently we'd be losing this time zone information across our Swagger API interface if we use the swagger provider as-is. Would you be open to accepting a pull request that added a configuration opt

[2019-03-23 18:38] adamjones1 commented on #115
I'm not sure if this issue is already known but I'm getting a problem with Intellisense when using the 0.10.0-beta05 package:

![image](https://user-images.githubusercontent.com/47923806/54870136-4bd6d080-4d81-11e9-8cdb-3f949c971ca5.png)

paket.dependencies is just
[code]

I've verified it with the project targeting both `netcoreapp2.1` and `net462`. It appears to be dependent on the `open System`

[2019-03-23 21:44] stevewillcock opened #120 "Delete method incorrectly cased"
### Description

The Delete method is cased as 'Delete' instead of 'DELETE' which can cause a 501 not implemented with some servers (this happened with an akka http server (Scala, not .NET) in this case)

### Known workarounds

Upper case the method name

[code]

[2019-04-11 21:22] yuto-katsuragi opened #122 "String field cannot be optional."
### Description

Primitive Types can be optional.
but string field can not be optional.

### Repro steps

1. Step A
provide following this in swagger yaml

[code]

2. Step B

read property by SwaggerProvider

[code]

### Expected behavior
nullable string field should be Option type.

### Actual behavior
nullable string field is not Option type.

### Known workarounds
* null checking

### Related i

[2019-04-11 21:37] sergey-tihon commented on #122
This is by design. `string` in .net is nullable type.
I do not see benefits of generating `Option<string>`

So, technically speaking, the `issue` is that we model
[code]
as `string` that can be `null` in runtime.
But there is no easy way to provide not nullable string.

[2019-04-11 21:51] #109 closed

[2019-04-11 22:19] yuto-katsuragi commented on #122
There are several facts.

1. `string` in .NET is nullable type
1. `string` and `null` are different types in JSON

It can be understood that null can not be removed. (by 1.)
but I see benefits as reflect intention as option . (by 2.)

Similar situations.

SQL Server has intended to be null (NOT NULL Column)
and Popular Type Provider Take care of it.

https://github.com/fsprojects/SQLProvider

this

[2019-05-16 06:06] stevewillcock commented on #119
Hi, we're using a different swagger provider now so to avoid overloading your issues list I'll close this one, thanks!

[2019-05-16 07:12] sergey-tihon commented on #119
Let's keep it open. I think that `DateTimeOffset` should be used by default and probably be not configurable. Pluggable types like NodaTime is more complicated option which is less likely will be implemented.

@stevewillcock what swagger provider you decided to use? (just for the record)

[2019-05-16 07:37] stevewillcock commented on #119
Great, I think it makes sense to go with DateTimeOffset. We went with NSwag for now (with build-time C# code generation) as we want to target OpenAPI 3. It would be great to use this again in the future though, the Type Provider approach seems to work nicely.

[2019-06-13 20:46] weebs commented on #122
I came here to post about the same thing, it'd be really helpful to have this as an option like we do with IgnoreOperationId, at least in my case.

I have a RESTful API serving data from SQL where some columns are nullable text while others are not. A lot of these endpoints serve basic CRUD operations, and so I made a generic editor that uses reflection on the client generated by SwaggerProvider t

[2019-07-01 18:22] rsmckinney opened #124 "Port to Java with Manifold?"
This is an interesting project, well done!

Java now has support for type providers via [project Manifold](https://github.com/manifold-systems/manifold).  Manifold calls them _type **manifolds**_, but the concept is the same.  The project already provides manifolds for [JSON Schema](http://manifold.systems/docs.html#json-and-json-schema), [YAML](http://manifold.systems/docs.html#yaml), [GraphQL](h

[2019-08-08 18:23] reaysawa commented on #86
@sergey-tihon Is the source for this beta version available somewhere?

[2019-08-08 18:48] sergey-tihon commented on #86
@reaysawa Yes, `dev` branch of this repo - https://github.com/fsprojects/SwaggerProvider/tree/dev

[2019-10-28 12:35] NickDarvey opened #126 "NullReferenceException with request parameters"
### Description

I'm getting a NullReferenceException while constructing a request to the Slack API [using their Swagger definition](https://github.com/slackapi/slack-api-specs/blob/master/web-api/slack_web_openapi_v2.json).

I'm unfamiliar with Type Providers so I'm not sure how to approach debugging it. Right now I'm poking through decompiled IL (see below).

### Repro steps

See [this test](htt

[2019-10-31 04:41] #126 closed

[2019-10-31 04:59] NickDarvey commented on #126
Ohh that'd be it. Thank you so much!

[2019-11-01 13:43] sergey-tihon commented on #100
Implemented in #117

[2019-11-01 13:43] #100 closed

[2019-11-01 13:46] sergey-tihon commented on #98
Implemented in #117

[2019-11-01 13:46] #98 closed

[2019-11-01 13:56] sergey-tihon opened #127 "Update docs and site"
Current version of site is outdated and should be updated

[2019-11-02 15:45] jkone27 opened #128 "missing dependent assembly YamlDotNet"
### Description

dotnet add package , and tried to run the test script example.

from fjproj file
 <PackageReference Include="SwaggerProvider" Version="0.9.0" />

error FS0082: Could not resolve this reference. Could not locate the assembly "YamlDotNet.dll". Check to make sure the assembly exists on disk. If this reference is required by your code, you may get compilation errors. (Code=MSB3245)

#

[2019-11-03 15:33] sergey-tihon commented on #128
hi, docs/site are outdated - I'll update them soon
Try this

Create new F# `netcoreapp3.0` project

[code]

replace content of `Program.fs` file by

[code]

build and run projects

[code]

in the console you should see printed inventory from the server.

[2019-11-03 16:45] sergey-tihon commented on #111
New one is published on landing page
http://fsprojects.github.io/SwaggerProvider/#/

[2019-11-03 16:45] #111 closed

[2019-11-05 18:46] sergey-tihon commented on #127
Addressed by #129

[2019-11-05 18:46] #127 closed

[2019-11-05 19:28] sergey-tihon commented on #107
[SwaggerProvider 0.10.0-beta09](https://www.nuget.org/packages/SwaggerProvider/0.10.0-beta09) should be good with latest Newtonsoft.Json

[2019-11-05 19:28] #107 closed

[2019-11-06 17:39] sergey-tihon commented on #67
For now auth should be added as default HttpClient header or as HttpClient middleware
http://fsprojects.github.io/SwaggerProvider/#/Customization#authentication

[2019-11-06 17:39] #67 closed

[2019-11-06 17:43] sergey-tihon commented on #124
I do not mind if parts of this project will be used Manifold/Java implementation of Swagger/OpenAPI  manifold. But I am not going to do it myself, sorry.

[2019-11-06 17:43] #124 closed

[2019-11-06 18:14] #120 closed

[2019-11-06 18:16] sergey-tihon commented on #14
Close it because it is old.
There is no plans to implement it, let's keep TP simple as possible with minimum runtime dependencies.

[2019-11-06 18:16] #14 closed

[2019-11-06 18:21] sergey-tihon commented on #79
It is already possible with latest released beta using HttpClient middleware / custom DelegatingHandler - http://fsprojects.github.io/SwaggerProvider/#/Customization#request-interception

[2019-11-06 18:21] #79 closed

[2019-11-06 18:28] sergey-tihon commented on #33
We still support only `application/json` but serializer is already configurable - http://fsprojects.github.io/SwaggerProvider/#/Customization#authentication

[2019-11-06 19:01] sergey-tihon commented on #115
Looks fine with latest released beta. Please reopen if you can reproduce
<img width="1300" alt="image" src="https://user-images.githubusercontent.com/1197905/68328738-eb628c80-00e0-11ea-8a49-7f10e73a77c3.png">

[2019-11-06 19:01] #115 closed

[2019-11-06 19:14] sergey-tihon commented on #54
Latest beta works in Xamarin! Proven!
<img width="1670" alt="Fullscreen_11_6_19__10_12_PM" src="https://user-images.githubusercontent.com/1197905/68329647-b9522a00-00e2-11ea-92ed-5a9b55226c3a.png">

[2019-11-06 19:14] #54 closed

[2019-11-06 19:32] adamjones1 opened #130 "Intellisense not working in 0.10.0 beta packages"
I'm not sure if this issue is already known but I'm getting a problem with Intellisense when using the 0.10.0-beta05 package:

![image](https://user-images.githubusercontent.com/47923806/54870136-4bd6d080-4d81-11e9-8cdb-3f949c971ca5.png)

paket.dependencies is just
[code]

I've verified it with the project targeting both `netcoreapp2.1` and `net462`. It appears to be dependent on the imported name

[2019-11-06 19:34] adamjones1 commented on #130
^ Reopening as a separate issue as it's not the same as what #115 was raised for.

I can still reproduce this using 0.10.0-beta10 (in both VS and Ionide).

[2019-11-06 20:31] sergey-tihon commented on #130
@adamjones1 can you please push all  your code to https://github.com/adamjones1/swagger-provider-error ?

[2019-11-06 20:36] sergey-tihon commented on #130
Can you also try `netcoreapp3.0`?
I have no idea yet, how it can affect intellisense when you do not use TP.

[2019-11-06 21:05] adamjones1 commented on #130
Sure - so it got a little more interesting, I pushed a minimal counterexample to that repo (master branch) and found that the issue was no longer present. However if I switched it to use Paket rather than NuGet, which I had been using in my previous test, the issue resurfaced. I pushed that in branch `with-paket`, you should be able to repro it there. All on .net core 3.0.

Not sure why it would b

[2019-11-07 06:57] sergey-tihon commented on #130
Can you please try on your machine explicitly specify target framework in `paket.dependencies` file
and run `paket install`

[code]

[2019-11-07 15:28] adamjones1 commented on #130
Now it appears to work :)

[2019-11-08 10:17] sergey-tihon commented on #130
@adamjones1 can we consider this as resolved?

[2019-11-08 15:13] adamjones1 commented on #130
Yeah, I think the issue should be documented but this thread probably serves that purpose good enough since it's quite minor.

[2019-11-08 17:03] adamjones1 opened #132 "HTTP responses don't have information from body on non-success status"
When the response of a call doesn't have a success status code, the call throws an `HttpRequestException` with no context for what went wrong beyond the actual status code. `EnsureSuccessStatusCode` is called and the content of the response is lost.

In some (most?) OpenAPI schemas, the shape of the response for non-success status codes is also documented and a schema is provided for each media ty

[2019-11-09 10:32] sergey-tihon commented on #132
Can you please share the sample?

I saw `description` for not-successful status codes, so yes it should be possible to provide meaningful error messages bases on status code.

But why would you want to have strongly typed (deserialized) body of failed http request?

[2019-11-10 14:45] #59 closed

[2019-11-10 14:51] sergey-tihon commented on #61
Should be addressed by #131 in OpenApiClientProvider

[2019-11-10 14:51] #61 closed

[2019-11-10 14:51] sergey-tihon commented on #59
Should be addressed by #131 in OpenApiClientProvider

[2019-11-10 14:52] sergey-tihon commented on #119
Changed inn #133 and will be part of next release (v0.10.0-beta11)

[2019-11-10 14:52] #119 closed

[2019-11-10 17:32] #130 closed

[2019-11-10 17:33] sergey-tihon commented on #132
Released `0.10.0-beta11` throw custom `OpenApiException` instead of general `HttpRequestException` (in case of error) and also contains error description from schema

[2019-11-13 03:00] adamjones1 commented on #132
Was this applied to the `SwaggerClientProvider` as well as the `OpenApiClientProvider`? I still seem to be getting an `HttpRequestException` thrown. I tried migrating to `OpenApiClientProvider` instead but it wouldn't compile with the spec I was using - it complained that a key of the "definitions" node didn't adhere to some alphanumeric/dot/underscore regex but I believe this is only a requiremen

[2019-11-19 04:03] tick-rick opened #135 "FSI Errors"
### Description

It seems that SwaggerProvider does not work via latest dotnet fsi. I don't have a whole repro, but the code is very simple. It seems to create the actual swagger types properly `type Api = OpenApiClientProvider<Schema>` works fine, the error comes from `let client = Api.Client()`

[code]

Further, when trying to work around the issue by doing this:
```let test (client:Api.Client)

[2019-11-19 19:51] sergey-tihon commented on #132
No, I did it only for `OpenApiClientProvider` and do not really plan to port back new features to `SwaggerClientProvider`.

`OpenApiClientProvider` should throw instance of `OpenApiException` (not generated, just class)
https://github.com/fsprojects/SwaggerProvider/blob/master/src/SwaggerProvider.Runtime/ProvidedApiClientBase.fs#L9-L12

if I got it correctly, it looks like by design in OpenAPI.NET

[2019-11-20 05:45] sergey-tihon commented on #135
Can you share repro? I am interested how you restores dependencies NuGet/Paket and how you load dlls in FSI (`#r` names & `#I` paths used)

[2019-11-20 05:59] sergey-tihon commented on #132
I asked about the schema because if it  generated by Swashbuckle there is new version for aspnetcore https://github.com/domaindrivendev/Swashbuckle.AspNetCore where MS helped to migrate to OpenApi.NET. So they use the same object model and always generate compliant schemas (v2 and v3).

Let's think together, I am not sure that it is best option.

If I throw new type of exception for every error of

[2019-11-20 17:14] adamjones1 commented on #132
Yeah, probably a preferred and more functional way would be to have a union type returned like
[code]

but alas, provided union types can't be done 😢 (https://github.com/fsharp/fslang-suggestions/issues/154).

You could get around the issues above with a tweak to the multiple exception route though - for the issue of trying to catch them all, they could all inherit from `OpenApiException` as it's

[2019-11-22 03:38] NickDarvey commented on #132
I understand this doesn't help with getting the error as defined in the schema, but if you just need it for logging purposes you can write some middleware like:

[code]

and use it like:
[code]

[2019-11-22 18:02] adamjones1 commented on #132
@NickDarvey Yeah true...it does feel a bit hacky to me though and I don't feel great about it, sneaking an exception in the handler pipeline to divert control flow and circumvent the logic in the provided wrapper. (Although I'm not aware of much else besides status code handling that this dodges at the moment, in general over time what else might it inadvertently circumvent, if more post-processin

[2019-11-25 00:15] tick-rick commented on #135
Sorry for lateness, the server to create repro is huge. references.fsx is just made using vscode 'generate fsi references'. there is nothing sophisticated about it, the provider is loaded like this:

[code]

[2019-11-27 22:01] tick-rick opened #137 "uuid type ignored"
### Version
0.10.0-beta12

### Description

When the type `uuid` type is used for parameter, SwaggerProvider generates string types. This is problematic as we lose potential validation at compile time.

### Repro steps
The following schema:
[code]

Generates the following member: `member GetApiTest: xGuid: string  -> Task<Unit>`

edit: fix json

[2019-12-08 15:32] sergey-tihon commented on #137
Should be supported in https://www.nuget.org/packages/SwaggerProvider/0.10.0-beta13

[2019-12-08 15:32] #137 closed

[2019-12-08 17:18] sergey-tihon commented on #135
The right solution is direct package reference directly using FSI, but this feature is not yet available in standalone version of FSI - https://github.com/fsharp/fslang-suggestions/issues/542

For now, closest alternative is [paket generate-load-scripts](https://fsprojects.github.io/Paket/paket-generate-load-scripts.html#paket-generate-load-scripts)

**paket.dependencies**
[code]

1. create `paket

[2019-12-10 03:00] tick-rick opened #140 "uuid type does not serialize correctly"
Recent changes introduced by #137 cause optional uuid types to be written to the wire as e.g. 'Some(c5bff7f0-b4df-475e-a331-f737424f013c)'. This is quite a tricky area but I would suggest:
`defaultArg theGuid Guid.Empty` would potentially be more compatible, but this is a bit opinionated.

Workaround:
It is possible to use `DelegatingHandler` (example https://github.com/fsprojects/SwaggerProvider/

[2019-12-10 03:03] tick-rick commented on #135
I think this is a fair work around, annoying that it is internal errors, rather than dependency error, but i suspect this is a limitation of current FSI.

[2019-12-10 03:03] #135 closed

[2019-12-10 10:05] sergey-tihon commented on #140
Is this parameter in your schema specified as not required?
What is the location for parameters? url/header/body?

[2019-12-10 10:08] tick-rick commented on #140
It is defined as an optional header (X-Token). I can upload the part of the
schema but it will be a few days til I can

On Tue, 10 Dec 2019, 9:05 pm Sergey Tihon, <notifications@github.com> wrote:

[2019-12-11 00:16] tick-rick commented on #140
minimal schema obtained. The schema is generated by swashbuckler:
[code]

[2020-03-03 16:32] pdokoupil opened #141 "$0 in string parameter value is not handled correctly"
### Description

When an operation's string parameter contains `"$0"` in it's value then the resulting string that is eventually being sent in a request is broken.

### Example and Expected behavior

Consider parameter {id} having a string type with a value `"$0something"`, then  the generated request contains a value `"{id}something"` instead of `"$0something"`.

### Source of the problem

The pr

[2020-03-09 11:04] evilz opened #142 "Fail to get autocompletion"
### Description

All IDE fails to get autocomplet from client.

### Repro steps

Basic usage :

[code]

![image](https://user-images.githubusercontent.com/2937862/76207130-838e9080-61fd-11ea-8416-d026b45dc304.png)

### Expected behavior

List all methods generated

### Actual behavior

display a 'Note'node

### Known workarounds

none, sometime it works ^^, Compilation always ok.

### Related info

[2020-04-01 20:11] jkone27 commented on #142
I have the same, <Note> appears. tried in VS2019. this is kind of bad for such a great type provider ... the old "SwaggerProvider" type provider (deprecated one) still works though

[2020-04-05 15:28] #142 closed

[2020-04-05 15:30] sergey-tihon commented on #142
Can you please try [SwaggerProvider v0.10.2](https://www.nuget.org/packages/SwaggerProvider/0.10.2)
It should provide better autocomplete experience in IDEs

[2020-04-07 09:23] evilz commented on #142
Looks good! ❤

[2020-04-21 04:38] tick-rick opened #146 "[Feature] Enum types from strings or metadata"
[Here is a schema.json](https://github.com/fsprojects/SwaggerProvider/files/4507635/schema.txt) that demonstrates the issue.

When "enum" schema components are encountered in json schema, SwaggerProvider seems to strip their info away and just label the type as strings or int (depending on JsonStringEnumConverter).

This makes working with APIs a bit painful. Azure seems to deal with this issue us

[2020-04-21 04:42] tick-rick commented on #140
Workaround:
[code]

[2020-04-22 04:21] tick-rick commented on #146
@sergey-tihon I made a first pass at this [here](https://github.com/tick-rick/SwaggerProvider/commit/119018741f065849eef02e4a739efe0cc5bb0291#diff-1d120bdef869b2cd319a1a4b9358b048) but I am having trouble in a few areas and need pointers (I only took a guess at how to do it):

- I needed to remove net461 to get compile working on Linux, so I dont think I can PR yet
- Where do I need to add in the

[2020-04-28 06:40] fradav opened #147 "dotnet core (windows) + fsautocomplete woes"
### Description

FsAutocomplete (in vscode-ionide) fails to load the package with dotnet core

### Repro steps

Exactly as stated [in the "Getting Started" section](http://fsprojects.github.io/SwaggerProvider/#/#getting-started),
except for the version, 0.10.2 (tried 0.10.0 too)

### Expected behavior

Should open without error in fsac.

### Actual behavior

[code]

![image](https://user-images.gi

[2020-04-28 07:51] sergey-tihon commented on #147
I believe that this is rated to recent FCS release https://github.com/fsharp/FsAutoComplete/issues/565
not a particular type prover issues.

[2020-04-28 08:25] sergey-tihon commented on #146
type TaskType = This | That | Other based on x-ms-enum or string

First of all, I am not surer that it will be easy  task to generate provided enums
https://github.com/fsprojects/FSharp.TypeProviders.SDK/issues/264 AFAIK, [SqlEnumProvider.fs](https://github.com/fsprojects/FSharp.Data.SqlClient/blob/master/src/SqlClient.DesignTime/SqlEnumProvider.fs) is best starting point but I cannot guarantee th

[2020-04-28 08:38] fradav commented on #147
No problem with VS 2019, but I doubt it is using netcore runtime for its intellisense background process. I could be wrong.

[2020-04-28 09:04] fradav commented on #147
Ok probably a fsac issue, then. That's weird because it is working fine with FSharp.Data's TPs in netcore. Closing issue.

[2020-04-28 09:04] #147 closed

[2020-04-29 14:14] Thorium opened #148 "What if the schema is behind Authorization?"
I initialise the provider as in the documentations:
[code]

I get a not-very descriptive error: `The type provider 'SwaggerProvider.OpenApi ClientTypeProvider' reported an error: OpenAPI specification version '' is not supported.`

The reason for this is that the API needs Authorization header, and the schema is also behind the authentication, so the `swagger.json` says:

[code]

Umm...ok. What sh

[2020-04-29 14:40] sergey-tihon commented on #148
No, you cannot. Any real auth header expire in X hour and you will not be able to compile any more.

Yes, you are able to use local path
[code]

Agree, it looks strange, but also strange that instead of `401` status code your backend return `200 OK` and json with `error` message.
I believe that it will be more intuitive in the case of `401` response.

In you case, I requested schema, I received su

[2020-04-29 14:44] Thorium commented on #148
Ok, thanks. The local file support could be added to the documentation.

[2020-04-29 14:44] #148 closed

[2020-04-30 05:52] tick-rick commented on #146
@sergey-tihon I am very close to getting it to work. There are two failings tests, both with the same root cause (very similar to [this issue](https://github.com/fsprojects/SwaggerProvider/issues/140)), where Some(X) is serialized when types are non primitive. I will try track this down.

[code]

- I updated tests to correctly test enum values (previously test code used int).
- Added support in fo

[2020-05-04 17:55] vrescobar opened #149 "ionide does not find assembly"
### Description

I followed the [documentation](http://fsprojects.github.io/SwaggerProvider/#/) to create the PetStore example on a console application. The only difference is that I used the newest version 0.10.2 rather than 0.10.0

But the issue is present with both of them.

### Repro steps

dotnet new console --name apiclient --language F#
cd apiclient
dotnet add package SwaggerProvider

copy

[2020-05-04 17:57] sergey-tihon commented on #149
This is duplicate of https://github.com/fsprojects/SwaggerProvider/issues/147
TypeProviders does not work in latest Ionide

[2020-05-08 17:44] #149 closed

[2020-05-08 17:52] vrescobar opened #150 "OpenApiClientProvider with Stripe's open API hangs (3MB json)"
### Description

The autocompletion hangs and stops working when using OpenApiClientProvider with Stripe's open API. No visible error happens anywhere.

### Repro steps
1. Try to use OpenApiClientProvider with the stripe API

[code]

That JSON file is about 3MB

### Expected behaviour
I would expect to work as with any other open API or to get a visible error somewhere

### Actual behavior
The aut

[2020-05-14 16:19] Thorium opened #151 "Generating JSON Schema Object?"
I know this is a bit off-topic, but many times I found that Swagger OpenAPI 3.0 API providers don't publish their schema JSON file for whatever reason. Instead they have some kind of generated developer web-site documentation of examples.

Can I generate the schema file somehow?
Or could I work with SwaggerProvider with just a bunch of API-endpoints and response-request JSON examples?
Or should I

[2020-05-14 16:32] sergey-tihon commented on #151
Can you share the sample of such provider?

As far as I know, all (most of) tools like swagger-ui and ReDoc UI are built on top of schema.
So server generate schema and then tool generate `developer web-site documentation of examples` from schema.

so I believe that schema also should be available

__Swagger UI__
http://petstore.swagger.io:8080
http://petstore.swagger.io:8080/api/v3/openapi.json

[2020-05-15 08:09] Thorium commented on #151
I haven't guessed the name, and also the people we usually work with when starting the integrations are rather pre-sales people than customer services, so to get in touch with the actual developers is not always fast and trivial.

Currently I'm looking for using [OpenWrks](https://www.openwrks.com/) API (open banking aggregator):
https://developers.openwrks.com/#introduction

Other Swagger APIs th

[2020-05-15 09:05] sergey-tihon commented on #151
ShieldPay - https://apiuat.shieldpay.com:443/swagger/docs/v5
ClearBank - https://institution-api-sim.clearbank.co.uk/docs/v3/api.json
OnFido - it is powered by [Slate](https://github.com/slatedocs/slate). not sure how its work really, it may not use swagger/open api
OpenWrks - it is not clear for me as well

[2020-05-15 16:13] Thorium commented on #151
Onfido seems to have OpenAPI yaml specs at https://github.com/onfido/onfido-openapi-spec so maybe that can be used somehow by SwaggerProvider.

For the OpenWrks, I got response "We don’t have a schema file I’m afraid", so maybe that is some custom implementation... Maybe a schema could be created somehow via inspector.swagger.io and swaggerhub, but probably it's easier to just go with the FSharp.D

[2020-05-15 16:17] sergey-tihon commented on #151
Yes, Yaml is currently supported, so just use it instead of json

Also you may check specs here https://apis.guru/browse-apis/
but I am afraid that there is nothing to OpenWrks

[2020-05-15 16:22] Thorium commented on #151
One more payment API, do you happen to know if [Modulr](https://www.modulrfinance.com/) is Swagger/OpenApi or not:
https://modulr.readme.io/reference

[2020-05-15 16:24] Thorium commented on #151
There is not a single but many different YAML-files, can I somehow import them all or should I merge them somehow?

[2020-05-15 16:33] sergey-tihon commented on #151
Sorry no idea about Modulr.
Also do not  know about tools to merge Yaml files...
It should be possible to implement (external schemas auto discovery) but it is not yet supported.

[2020-05-29 10:51] #151 closed

[2020-06-02 01:25] Thorium commented on #150
A workaround I use is using the [Stripe .NET library](https://github.com/stripe/stripe-dotnet).
But it's not painless. It's quite low-level library, I have over 500 lines of F# code around it. They change and rename and release new versions all the time, and don't mind the backward compatibility:
![Not keeping up](https://imgs.xkcd.com/comics/software_updates.png)

A payment system should be a gen

[2020-06-02 09:59] Thorium opened #157 "Referencing the design time?"
There are some .fsx test files referencing `SwaggerProvider.dll` (like
[here](https://github.com/fsprojects/SwaggerProvider/blob/1ff24dc150f54af54f4c60d4b3b1dbf0ab911b18/tests/test.fsx#L2) and [here](https://github.com/fsprojects/SwaggerProvider/blob/76af01890a9f725b21665128b2da7f538c352d9f/src/SwaggerProvider.Runtime/SwaggerProvider.fsx#L25))
I don't have that. So I'm expecting that they are expi

[2020-06-02 10:11] sergey-tihon commented on #157
Yes, they are expired and should be replaced by `SwaggerProvider.DesignTime.dll` (as well as list of dependencies probably)

No, if you compiles your fsproj file or works from IDE (you reference only runtime and compiler will find design-time assembly)
But I not quite sure how FSI will search for design-time assembly.

if you reference runtime assembly compiled for runtime of your FSI and design t

[2020-06-02 12:48] Thorium commented on #150
Digging a bit this, it seems to me that the reading of the network schema, parsing it, etc, takes only 2.5 seconds total. But after that, there is some background process, involving ProvidedTypes.fs, that generates a temp-dll (like \AppData\Local\Temp\tmp434F.dll) of having the types. It will finish in around 50 seconds in my computer, and then it's actually done.

This is my little FSI script I u

[2020-06-02 13:15] Thorium commented on #157
Ok, found it:
The only reason to reference *.DesignTime.dll is that type-provider `assemblyReplacementMap` is set incorrectly. :-)
So the *.fsx shouldn't refer any *.DesignTime.dll. If external references the '#I' should be enough.
FSI will find it because of TypeProviderAssemblyAttribute in *.Runtime.dll, and then the desing-time assembly should say to replace it back with assemblyReplacementMap.

[2020-06-02 13:15] #157 closed

[2020-06-07 10:19] Thorium opened #160 "Schema error handling on OpenApiProvider"
If there are any errors in schema, the OpenApiProvider just gives up:

https://github.com/fsprojects/SwaggerProvider/blob/4f76f3ccc5a0f91c8577a04b3b466c074e9560fb/src/SwaggerProvider.DesignTime/Provider.OpenApiClient.fs#L74

...which is maybe good behaviour if you can actually fix the schema. But in many cases you are the user, so you can't. Also you cannot easily copy the error. The parser itself

[2020-06-07 18:32] sergey-tihon commented on #160
Generally I am OK with this change...Just not sure about most useful format.
What about `Errors:string list` and allow user work with errors as with data?

[2020-06-07 20:08] Thorium commented on #160
I'm not sure about the format either, that's why this is a question, not PR :-)
A few points:

- Current implementation is rendering the provider un-usable on any error
- Some schemas may have .Errors-property for business scenarios that should not be messed with technical errors. So basically SchemaReaderErrors would be better.
- But the errors should be clearly visible. ".S" is far away in the p

[2020-06-08 06:03] sergey-tihon commented on #160
Agree with `SchemaReaderErrors` name.

It should not be an issue. We can add it to root level `PetStore. SchemaReaderErrors` on the same level where we add client for communication `SchemaReaderErrors.Client`. All other provided type definitions can moved deeper (like `PetStore.Types.*`)

XML comment also good idea. So it may look like

[code]

myProvider.Errors.[0].``There is an incorrect charact

[2020-10-25 12:36] xperiandri commented on #116
Or as `ImmutableArray`

[2020-10-25 12:57] xperiandri opened #163 "Generate primitive types for aliases of primitive types in Swagger"
### Description

Aliases to primitive types are not translated to primitive types

### Repro steps

[code]

[code]

### Expected behavior

Phone property is resolved as `string`

### Actual behavior

Both of these are resolved as `obj` instead of `string`

### Known workarounds

Unknown

### Related information

[code]

[2020-11-05 20:19] dim-37 opened #164 "Relative path must be derived from curent project folder"
![image](https://user-images.githubusercontent.com/29534485/98292019-b1a6b900-1fb4-11eb-9683-eba558ab7de3.png)
![image](https://user-images.githubusercontent.com/29534485/98292155-f0d50a00-1fb4-11eb-9844-b9b6798193e0.png)

[2020-11-06 07:14] sergey-tihon commented on #164
It is not easy reliable detect current project folder from TP runtime.
In F# we usually use `__SOURCE_DIRECTORY__` [predefined identifiers](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/source-line-file-path-identifiers) for that

[code]

[2020-11-08 17:50] sergey-tihon opened #165 "Move to .NET Standard exclusively"
We need to move to latest SDK - https://github.com/fsprojects/FSharp.TypeProviders.SDK/pull/339

[2020-11-10 14:42] petrkoutnycz commented on #164
@sergey-tihon Thanks for the tip, I had no idea there was something like that.

[2020-11-10 14:45] #164 closed

[2020-11-16 10:48] jkone27 opened #166 "Suggestion/idea: Add comparison test with microsoft openapi generator"
### Description

To improve consistency and reliability, could be useful to add an integration test comparing generated type with new microsoft openapi generated client. I noticed in some projects some differences.

https://docs.microsoft.com/en-us/aspnet/core/web-api/microsoft.dotnet-openapi?view=aspnetcore-3.1

1. Add a new source generated client project based on `<OpenApi>` reference on a refe

[2020-11-20 12:28] #166 closed

[2020-11-20 12:29] jkone27 opened #167 "Make provided types not sealed"
### Description

can come in handy to be able to extend or modify generated DTOs, but currently generated types are `sealed`

[2020-11-20 12:31] #167 closed

[2020-12-08 20:23] #28 closed

[2020-12-08 20:24] #81 closed

[2020-12-11 00:16] xperiandri opened #169 "DateTime must be formatted as round-trip"
### Description

https://stackoverflow.com/a/49379235/1149328

### Expected behavior

`DateTime` and `DateTimeOffset` are formatted as round-trip. I.e. `ToString("O")` is called.

### Actual behavior

`DateTime` and `DateTimeOffset` are formatted as current culture specifies.

### Related information

* Branch 0.10.7

[2020-12-11 22:44] xperiandri commented on #164
How is it different from what FSharp.Data.GraphQL does?
Is it different for generative and erased type providers?

[2020-12-12 11:32] sergey-tihon commented on #164
There should not be difference between generative and erased type providers.

Executing assembly for design-time component of TP is the IDE or compiler

The path of current project should somewhere in [TypeProviderConfig](https://fsharp.github.io/fsharp-core-docs/reference/fsharp-core-compilerservices-typeproviderconfig.html#ResolutionFolder) that we receive in [the ctor](https://github.com/fsproj

[2020-12-12 13:44] xperiandri commented on #164
Fixed in #171

[2020-12-13 23:49] #169 closed

[2020-12-15 13:29] Thorium opened #172 "Case sensitivity on .ToString() ?"
I'm using API that needs a SHA256 hash over the request body, added in the headers.

When I do `mySwaggerRequestBodyObject.ToString()` I get: `{"MySum": 123}`
but when I include this item to an actual request that is posted via SwaggerProvider POST, looking with Fiddler, the body has `{"mySum": 123}`

...which is obviously a problem as the SHA calculated over my mySwaggerRequestBodyObject doesn't

[2020-12-15 13:37] Thorium commented on #172
Found it, I have to use the custom Serialize method

[code]

[2020-12-15 13:37] #172 closed

[2020-12-15 16:23] Thorium commented on #172
I'm still not able to match the hash on server side (annoyingly hidden to me).
Maybe there are some spaces or something... Is there a built-in way to get exact payload of the request body sent to the server?

[2020-12-15 16:31] sergey-tihon commented on #172
You may try to implement custom DelegatingHandler - http://fsprojects.github.io/SwaggerProvider/#/Customization#request-interception

[2020-12-16 12:33] toburger commented on #150
I'm also experiencing a substantial slow down when consuming a bigger OpenApi file like https://localhost:5001/swagger/v1/swagger.json.

[2020-12-16 14:35] toburger opened #173 "Support for Dictionaries"
### Description

It looks like dictionaries aren't supported and simply return an `obj`.

### Repro steps

Run the following code as script;

[code]

### Expected behavior

The Detail property should be a `Dictionary<string, Detail>` or `Map<string, Detail>`:

![image](https://user-images.githubusercontent.com/728782/102361855-fbbb8b00-3fb3-11eb-9ffb-b7b61e8a6afa.png)

So I expect this to work:

[

[2020-12-16 17:31] sergey-tihon commented on #173
Seems that you are right 😊
According to the spec https://swagger.io/docs/specification/data-models/dictionaries/ `Details` definitions is Dictionary
[code]

Above[ this line](https://github.com/fsprojects/SwaggerProvider/blob/master/src/SwaggerProvider.DesignTime/v3/DefinitionCompiler.fs#L299) we need to do a check for `object` with `additionalProperties`, then infer element type ([like we do for

[2020-12-17 07:44] toburger commented on #173
Thanks for the hints on how to get this resolved Sergey!
I will try to fix it!
Should I use a `Map` or a `Dictionary` for the type?

[2020-12-17 15:39] sergey-tihon commented on #173
I suggest to try Map (as we do in V2/SwaggerProvider) it should work fine with Json.NET Serializer

Add tests in the PR
1. Add one more controller that [return Dictionary](https://github.com/fsprojects/SwaggerProvider/blob/master/tests/Swashbuckle.WebApi.Server/Controllers/ReturnControllers.fs)
2. Add [test that call new endpoint](https://github.com/fsprojects/SwaggerProvider/blob/master/tests/Swa

[2020-12-18 09:38] toburger commented on #173
PR: #174

[2020-12-22 21:28] #173 closed

[2020-12-23 19:28] xperiandri opened #175 "Publish symbols (PDB) to NuGet"
Publish package debug symbols along with package

[2021-01-01 11:25] sergey-tihon commented on #175
https://github.com/Dotnet-Boxed/Templates/blob/main/Source/NuGetTemplate/Source/Directory.Build.props

[2021-01-10 15:22] xperiandri commented on #175
https://devblogs.microsoft.com/dotnet/producing-packages-with-source-link/

[2021-01-14 22:40] Thorium opened #177 "Post where request body is not a parameter?"
I'm trying to call https://institution-api-sim.clearbank.co.uk/docs/index.html?urls.primaryName=V1

 - `/v1/Test` -  A test endpoint which echoes the supplied content to ensure that signature verification and authorization is working as expected

Basically my code is something like this:

[code]

But why there is no request body as parameter to `V1TestPost` ?
No optional parameter, no overloaded m

[2021-01-16 17:07] Thorium commented on #177
Sorry, I think this is not SwaggerProvider issue, but rather their API specification is missing a parameter from a post-request

[code]

[2021-01-16 17:07] #177 closed

[2021-01-29 20:12] sergey-tihon commented on #165
Implemented in #168

[2021-01-29 20:12] #165 closed

[2021-01-31 13:52] xperiandri opened #178 "Generator ignores nullability"
### Description

[code]

### Expected behavior

Properties of value type marked as `nullable: false` declared as non-nullable and has a non-nullable parameter in a constructor

### Actual behavior

`nullable: false` is ignored

### Related information

1.0.0-Beta1

[2021-01-31 13:53] xperiandri commented on #178
@sergey-tihon, could you point where to apply fix I will code that today

[2021-01-31 13:56] xperiandri opened #179 "Declared result headers are ignored"
### Description

[code]

### Expected behavior

A resulting model exposes a `Headers` property with all returned headers

### Actual behavior

No way to get headers

### Related information

1.0.0-Beta1

[2021-01-31 13:57] xperiandri commented on #179
@sergey-tihon, please, point me where to apply fix I will code that today

[2021-01-31 15:45] sergey-tihon commented on #178
Sorry, I do not understand what is the issue...

[Here](https://github.com/fsprojects/SwaggerProvider/blob/net5/src/SwaggerProvider.DesignTime/v3/DefinitionCompiler.fs#L194-L209) is the property generation code for OpenApiProvider and [here](https://github.com/fsprojects/SwaggerProvider/blob/net5/src/SwaggerProvider.DesignTime/v2/DefinitionCompiler.fs#L174-L187) for SwaggerProvider.

[2021-01-31 15:48] xperiandri commented on #178
![image](https://user-images.githubusercontent.com/2365592/106389559-86353e00-63ec-11eb-939c-c71068c266a9.png)

`nullable: false`

[2021-01-31 16:03] sergey-tihon commented on #179
I do not think that we should mess up all models with `Header` properties. We need to correctly identity the location of the response from server (body or header) and correctly deserialize response from there.

Current implementation of OpenApiClientProvider support only Json responses.

Here we infer response type based on the response code 200/201 and inter result type
https://github.com/fsproje

[2021-01-31 16:10] sergey-tihon commented on #178
Here is the line where we determine if the property is optional.
https://github.com/fsprojects/SwaggerProvider/blob/net5/src/SwaggerProvider.DesignTime/v3/DefinitionCompiler.fs#L202

Is easiest way to debug is to put breakpoint on this line and check how `Microsoft.OpenApi.Readers` passed your schema.

[2021-02-06 11:07] Thorium commented on #150
We have a solution for Stripe now:
https://github.com/simontreanor/FunStripe

[2021-02-06 11:17] toburger commented on #150
Nice! But I've experienced those issues also with other OpenAPI services (not 3MB though) and it would be nice to have a solution for those performance problems.

[2021-02-19 13:04] Thorium commented on #132
`System.Net.Http.HttpRequestException` seems to be still a problem for SwaggerProvider.

I went for mix of Nick's answer and http://fsprojects.github.io/SwaggerProvider/#/Customization

[code]

[2021-03-19 12:23] jkone27 opened #181 "FS3033: Payload is not supported"
### Description

[code]

### Repro steps

the Openapi spec is valid :
https://apitools.dev/swagger-parser/online/

but the type provider give an unknown error (also hard to fix , try to patch in the openapi yaml eventually)

[SWopenapi.txt](https://github.com/fsprojects/SwaggerProvider/files/6171012/SWopenapi.txt)

### Expected behavior

The type provider works

### Actual behavior

[code]

Please

[2021-03-20 11:38] sergey-tihon commented on #181
Fixed in latest package
[code]

<img width="1131" alt="test_fsx_—_SwaggerProvider" src="https://user-images.githubusercontent.com/1197905/111868239-1a496d80-8979-11eb-8ffd-6e8427a9ffd0.png">

[2021-03-20 11:38] #181 closed

[2021-03-24 12:40] jkone27 commented on #181
awesome! :) will try this out when the new package is released, thank you so much @sergey-tihon 🥇

[2021-04-13 22:06] Numpsy commented on #178
Could that be because the fields aren't marked as ```required``` in the schema, so the generated properties have to be optional to handle them not being present in the Json data?

[2021-05-12 15:43] Thorium opened #182 "OpenAPI "data and type mismatch found""
I'm trying to read this schema:
https://developer.experian.com/system/files/2020-12/credit-profile-product-apis-v-openapi3.2.0.45.yaml

I'm getting a lot of "Data and type mismatch found" errors.
And indeed, it seems that the types vary:
`permissiblePurpose/type` seems to be sometimes 08 and sometimes '08' and sometimes just ''.

Is the schema totally un-usable wtih OpenApiProvider, or is it still

[2021-05-13 07:49] sergey-tihon commented on #182
`OpenApiProvider` is build on top of [Microsoft.OpenApi.Readers](https://www.nuget.org/packages/Microsoft.OpenApi.Readers/)
we use "official" parser and report back error if parser is not happy about schema
https://github.com/fsprojects/SwaggerProvider/blob/net5/src/SwaggerProvider.DesignTime/Provider.OpenApiClient.fs#L64-L69

There is no auto-recovery option for now.
You may try to comment lines

[2021-05-13 12:15] Thorium commented on #182
Thanks for the response, I'll ask the question from their project.

[2021-05-15 00:05] Zaid-Ajaj opened #183 "Ignored schema components while generating the types"
### Description

While working on [Hawaii](https://github.com/Zaid-Ajaj/Hawaii), I am using a modified PetStore schema and testing with the type provider to see how the results look like and whether I am on the right direction.

For the following [schema](https://gist.github.com/Zaid-Ajaj/f1f82ad9cb4bc324652205fa0b715e3e), the `Pet` type is completely ignored:

![2021-05-15 01_48_48-ConsoleApp17 -

[2021-05-15 00:07] Zaid-Ajaj commented on #183
About my comment:

![2021-05-15 01_53_31-ConsoleApp17 - Microsoft Visual Studio](https://user-images.githubusercontent.com/13316248/118342096-36edc600-b522-11eb-87e9-82ed9eff2f2b.png)

Using dotnet 5.0.200 and a console project with default settings
[code]

Building the project worked but I get the design-time error above when hovering over the reported error in visual studio

[2021-05-16 09:00] sergey-tihon commented on #183
in your `modified PetStore schema` Pet defined as Dictionaty instead of object, that's why object is not generated.
[code]
compare it with spec for dictionaries https://swagger.io/docs/specification/data-models/dictionaries/
after merging https://github.com/fsprojects/SwaggerProvider/pull/174 such object compiled as `Map<_,_>`

Swagget/OpenAPI TPs model enums as string, that is why there is no typ

[2021-05-16 12:00] Zaid-Ajaj commented on #183
Hi @sergey-tihon I must have misunderstood the specifications of additional properties because object types using additionalProperties are also allowed to have arbitrary object properties alongside additionalProperties 🤔 at least the schema parsers and validators are perfectly fine when reading the schema and don't report any error.

Maybe I could simplify my implementation 😅

As for the VS type p

[2021-05-16 14:27] Zaid-Ajaj commented on #183
This is what I mean by object properties + additional properties
[code]
The type `Lang` is a dictionary of `string -> string` but will always have a `defaultLang` property. Generating `Map<string, string>` is probably good enough but for Hawaii I am having it generate a specialized type
[code]
It makes the JSON conversion somewhat more complicated but I already took care of that.

As for the issue

[2021-05-16 14:27] #183 closed

[2021-05-17 08:42] Thorium commented on #182
They were fast, they fixed that, and the fix is already merged to their "vnext" branch.

[2021-05-17 15:39] sergey-tihon commented on #182
Let me  know when they release on NuGet and I'll release updated provider

[2021-06-04 16:25] purkhusid commented on #182
A 1.3.0-preview has been released and is available here https://www.nuget.org/packages/Microsoft.OpenApi.Readers/

[2021-06-12 09:07] sergey-tihon commented on #182
I've updated all dependencies and released [v1.0.0-beta4](https://www.nuget.org/packages/SwaggerProvider/1.0.0-beta4) with Microsoft.OpenApi.Readers v1.3.0-preview

[2021-06-12 12:38] jkone27 opened #184 "Unable to pass httpClient in Provided Client constructor anymore"
### Description

 error FS0001: This expression was expected to have type    'Text.Json.JsonSerializerOptions'    but here has type    'HttpClient'

and also trying with empty constructor as well..

Severity	Code	Description	Project	File	Line	Suppression State
Error	FS3033	The type provider 'SwaggerProvider.SwaggerTypeProvider' reported an error: Constructor 'Void .ctor(System.Net.Http.HttpClie

[2021-06-12 14:45] jkone27 opened #185 "Request: Make types caching interval configurable from"
### Description
Seems it would be nice to make this time configurable, for very big openapi.json specs, the type providers might take more than 30 seconds to regenerate, making the cache kind of not useful (always re-generating types)...

I am using SwaggerProvider so not sure if the underlying code is the same here (i guess)

[code]
I suppose is here, could this become a type provider parameter,

[2021-06-12 14:48] jkone27 commented on #150
I also had issues of slowdown with bigger openapi files, would be great if there could be some perf optimization, or improve caching (or generate some offline schema that could be re-used from file system, once the generation has happened already?) This type provider is awesome 💌

[2021-06-12 15:07] jkone27 opened #186 "Latest Preview 1.0 - beta4 - Enum inferred type is int"
### Description

https://swagger.io/docs/specification/data-models/enums/

[code]
and SwaggerProvider generated type instead is **int**, wheras should be string (or eventually an Enum with valid values, before it was string with the old "LTS" package

This causes new generate types not to be compatible with "old" ones.

![image](https://user-images.githubusercontent.com/10419217/121780434-93371a80

[2021-06-14 10:49] jkone27 commented on #184
@sergey-tihon is there any integration test on constructors for SwaggerProvider, or did I do something wrong there?

[2021-06-14 13:59] sergey-tihon commented on #184
Sure, this project is integration tests only https://github.com/fsprojects/SwaggerProvider/tree/master/tests/SwaggerProvider.ProviderTests
and here is the execution point
https://github.com/fsprojects/SwaggerProvider/blob/master/build.fsx#L254

[2021-06-14 14:14] sergey-tihon commented on #184
It is quite strange ... there are multiple ctors for provided client.

can you please try FSI?
[code]

<img width="1240" alt="image" src="https://user-images.githubusercontent.com/1197905/121906556-8430a380-cd2b-11eb-87e0-08ada80b21bd.png">

[2021-06-14 23:47] jkone27 commented on #184
I am not using open api client provider but the swagger provider as I need it to parse an older swagger quite big spec, will try as you suggested

[2021-06-15 06:45] sergey-tihon commented on #184
`OpenApiClientProvider` support `v2` and `v3` schemas, it uses different schema parser that more sensitive for spec compliance, but it may work for you as well and definitely worth to try.

[2021-06-18 12:07] jkone27 commented on #184
I have tried already OpenApiClientProvider before , that's why i had to fallback to the old one,
But I will give it a new try, thanks for suggesting. 👍

Ps, my error is in VS, I am running this in some integ tests which need to run from VS, if its a visual studio bug only, maybe I could also file it there...

![image](https://user-images.githubusercontent.com/10419217/122558345-4343d200-d03e-11eb-

[2021-06-18 12:10] jkone27 commented on #184
this is the error i get if i try to switch to OpenApiClientProvider

[code]
and many more like it

[2021-06-18 12:28] jkone27 commented on #184
After fixing that parsing error, manually adjusting the openapi spec, i still got the same constructor not available error, as the above screenshot. Type provider project completed the build successfully..
So the issue is shared also with the newer OpenApiClientProvider
[code]

[2021-06-18 12:41] jkone27 commented on #184
got the same error on dotnet build in ionide
![image](https://user-images.githubusercontent.com/10419217/122562332-3d042480-d043-11eb-93f9-c1e9ad932522.png)

[2021-06-18 12:43] jkone27 commented on #184
provided builds fine though, with latest preview-4 , but other assembly using it see that above weird error, so seem the constructor is not accessible anymore...
![image](https://user-images.githubusercontent.com/10419217/122562612-8c4a5500-d043-11eb-856e-0d5c1694e563.png)

[2021-06-19 15:28] sergey-tihon commented on #184
Please try [SwaggerProvider 1.0.0-beta5](https://www.nuget.org/packages/SwaggerProvider/1.0.0-beta5)
I reverted optional parameters in provided actor's - it may help with intellisence

[2021-06-21 11:17] jkone27 commented on #184
it works now after cleaning all and reopening a few times, red squiggles are gone! Thanks a lot @sergey-tihon !!  👍 👍 🥇

[2021-06-21 14:23] jkone27 commented on #184
I am also submitting this to microsoft visualstudio team if they can do anything, if you want to try it out, i managed to reproduce the bug on my machine with this: https://github.com/jkone27/test-broken

[2021-06-21 17:41] sergey-tihon commented on #184
@jkone27 report it please, it is definitely looks weird.

[2021-06-22 12:52] rchybicki opened #188 "1.0.0-beta5 in .net5 project - Could not load file or assembly System.Buffers"
Description:
Version 1.0.0-beta5
project .net5 library
paket

referencing SwaggerProvider causes:
error FS3033: The type provider 'SwaggerProvider.SwaggerTypeProvider' reported an error: Could not load file or assembly 'System.Buffers, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. Reference assemblies should not be loaded for execution.  They can on

[2021-06-23 08:41] sergey-tihon commented on #188
@rchybicki do you repro for this that you can share?

[2021-06-24 13:41] rchybicki commented on #188
Yes, just created one:
https://github.com/rchybicki/SwaggerProviderIssueRepro
This turned out to be a bit tricky, but it allowed to me narrow down what's causing the issue (without understanding why though).
The project starts failing with this error if it or any project it depends on uses FSharp.Data.SqlClient.

[2021-06-24 20:16] sergey-tihon commented on #188
It is strange on macOS ...

`dotnet build` fail with error inside `fsc` msbuild task

but it build without error in `VS4Mac`
<img width="1251" alt="image" src="https://user-images.githubusercontent.com/1197905/123326508-9e436080-d539-11eb-8a19-c916aefdcd45.png">

[2021-06-28 07:54] fradav opened #189 "Support for OpenAPI v3"
### Description

PetStore basic example fails to load v3 schema

### Repro steps

1. Create a `swagger.fsx` file

[code]

2. Run it with fsharp interactive

[code]

### Expected behavior

No error

### Actual behavior

[code]

### Known workarounds

Stick with `v2` api.

### Related information

* Linux
* SwaggerProvider version 1.0.0-beta5
* dotnet 5.0.203

[2021-07-02 09:14] jkone27 commented on #184
@sergey-tihon  the beta3 version does not have the missing constructor httpClient issue, wheras the beta5 does

[2021-07-10 16:26] jkone27 commented on #184
A regression was spotted related to ref proj with type providers ! Should be merged in now, prob will go in next vs2019 update I suppose... 🥳

https://github.com/dotnet/fsharp/issues/11771

[2022-02-01 13:47] Thorium opened #190 "Swagger server from schema?"
This might be bit off-topic, but still with Swagger and F#:
Right now OpenApiProvider/SwaggerProvider generates the clients from the schema.

Is there a way to generate a server (/server-template) from the schema?

Any kind of Owin/Katana/.NET WebApi, or something F# specific like Giraffe templates?

Current tools seem to be generating a schema from server, but what about generating a server from

[2022-02-01 16:30] sergey-tihon commented on #190
We had discussion about it few years back https://github.com/fsprojects/SwaggerProvider/discussions/81

It should be possible (just need to choose correct target like Giraffe for example)
I do not think that TP is good tools, I personally believe in bright future of https://github.com/Zaid-Ajaj/Hawaii ;)

[2022-02-01 21:53] sergey-tihon commented on #190
What if you do not commit generated code? It should prevent modification of generated code.

The primary cons of TP is speed, number of times IDE call it and all-time schema availability requirement (like DB connection).

What's may go wrong if codegen generate contract/interface that you have to implement in your controllers and you will not commit these files?

[2022-02-02 08:47] Thorium commented on #190
If you don't let modifications to the generated code, then that's a compiler, not a code-generator. Which is nice, if possible.

But typically issues are easier to fix to the generated code, and the hard way to fix is to modify the initial template. (Reverse-engineer the source location, etc.)

Quoting (freely) the book "Microsoft .NET - Architecting Applications for the Enterprise":

[2022-04-06 21:12] Eliemer opened #191 "`Guid []` not serialized correctly as query parameter"
### Description

The swagger schema im targeting specifies two arrays as query parameters: a uuid array and an int array. Heres the relevant bit
[code]
![image](https://user-images.githubusercontent.com/21344441/162069993-11ae5f90-07d4-4985-ae82-52cd0e0f0a8b.png)
The issue is that when i provide both arrays, only the int array is encoded in the url correctly.

### Repro steps
Theres obviously some

[2022-04-06 21:26] sergey-tihon commented on #191
Looks like we really do not handle the case of
[code]
here
https://github.com/fsprojects/SwaggerProvider/blob/master/src/SwaggerProvider.Runtime/RuntimeHelpers.fs#L88

@Eliemer would you like to add it (with tests)?

controller here for Guid[] - https://github.com/fsprojects/SwaggerProvider/blob/master/tests/Swashbuckle.WebApi.Server/Controllers/UpdateControllers.fs#L41-L42

and tests here https:/

[2022-04-09 15:25] #191 closed

[2022-06-10 11:18] jkone27 opened #193 "OpenApiProvider fails on allowEmptyValue"
### Description

[code]

https://swagger.io/docs/specification/describing-parameters/

but validation gives errors

[code]

### Repro steps

try a schema with allowEmptyValue

### Expected behavior

should not give any errors

### Actual behavior

Fails parsing/validation

### Known workarounds

remove the field from openapi spec

### Affected Type Providers

- [X ] OpenApiClientProvider

### Rela

[2022-06-22 09:58] Thorium opened #194 "Where did the converters go on 1.0?"
In the docs there is a sample of

[code]

...but I cannot find these after updating to SwaggerProvider 1.0

[2022-06-22 10:06] Thorium commented on #194
Here you go. just include these to your project and your old code compiles:

[code]

[2022-06-22 10:12] Thorium commented on #186
I have the same issue, schema:
"country_code":{"enum":["Unknown","CAN","USA"],"type":"string"}

... with SwaggerProwider 0.12 (NewtonSoft serialization) it used to serialize to `String` properly.
After SwaggerProwider 1.0 (System.Text.Json serialization) it serializes incorrectly to `Option<Int>`.

[2022-06-25 11:13] sergey-tihon commented on #186
@Thorium 0.12.2 is release - https://www.nuget.org/packages/SwaggerProvider/0.12.2 and thanks for the fix.

@jkone27 can you share the full schema with the issue and code snippet (what TP you used? SwaggerProvider or OpenApiProvider?)

[2022-06-25 12:03] Thorium commented on #186
Here is a random schema for SwaggerProvider that has the enum-issue:
https://api.sandbox.repayonline.com/rgapi/v1/swagger
https://api.sandbox.repayonline.com/rgapi/swagger/ui/index

[2022-06-30 06:41] jkone27 commented on #186
I used OpenApiProvider, dont have the schema with me rn but i hope @Thorium is as good to reproduce

[2022-07-02 02:05] francotiveron opened #196 "Exception while getting simple string from Web API"
### Description

Failure when calling a simple string returning GET call

### Repro steps

- create a F# web api app with the following controller

[code]

- create a F# client console application

[code]

Schema

[code]

### Expected behavior

the value "0.0" should be returned and then printed

### Actual behavior

An exception is raised in the client.GetVersion().Result line

`One or more error

[2022-07-10 12:59] sergey-tihon commented on #194
@Thorium do you think that converters should be part of the SwaggerProvider package?

What is wrong with out-of-the-box support of Options from [FSharp.SystemTextJson](https://github.com/Tarmil/FSharp.SystemTextJson)?

[2022-07-10 13:27] Thorium commented on #194
As user I don't care the serialization as long as it works. This was more of migration issue, if you are using SwaggerProvider already and update, then your old code doesn't compile and the docs were also reflecting this old version with these code-lines.

[2022-07-20 22:33] francotiveron opened #199 "Using SwaggerProvider in a Fable application"
### Description

Using SwaggerProvider in a Fable application fails

### Repro steps

From the minimal Fable application, add SwaggerProvider and change the code as per from https://fsprojects.github.io/SwaggerProvider/#/#new-project
[code]

### Expected behavior

The application works normally

### Actual behavior

While VS Code intellisense works properly, when I start the project I get the foll

[2022-07-21 09:17] sergey-tihon commented on #199
@francotiveron SwaggerProvider does not support Fable, we do not emit code compatible with browsers.

I recommend to try another project - https://github.com/Zaid-Ajaj/Hawaii
Hawaii pretty flexible and configurable CLI tool that can generate F# clients based on Swagger/OpenApi schema compatible with Fable.

[2022-07-21 22:06] francotiveron commented on #199
Thanks

[2022-07-21 22:06] #199 closed

[2022-08-14 10:12] #186 closed

[2022-08-14 10:12] sergey-tihon commented on #186
Should be fixed in [SwaggerProvider 2.0.0-beta2](https://www.nuget.org/packages/SwaggerProvider/2.0.0-beta2)

[2022-08-14 10:57] sergey-tihon commented on #196
Workaround here will be to modify server to return JSON `"0.0"` instead of plain text `0.0`

It can be done using `Produces(MediaTypes.ApplicationJson)` attribute

[code]

another option here is to inherit from provided client and override [member Deserialize](https://github.com/fsprojects/SwaggerProvider/blob/master/src/SwaggerProvider.Runtime/ProvidedApiClientBase.fs#L29), basically do nothing w

[2022-08-15 19:10] #196 closed

[2022-08-15 19:26] sergey-tihon commented on #196
Fixed in [v2.0.0-beta3](https://www.nuget.org/packages/SwaggerProvider/2.0.0-beta3) by adding `Accept` header to requests, forcing server to respond with json.

[2022-08-17 15:05] abelbraaksma commented on #146
Just got hit by this myself, in the sense that I thought my OpenApi was wrong as I expected a `DU` or something like that to be generated from the `enum` values in the OpenApi yaml specification.

I appreciate that this isn't trivial to add (just mapping it to .NET enums clearly won't work, though DU's seem a natural fit). Just good to know this isn't supported atm.

[2022-09-03 14:17] xperiandri commented on #175
Looks like having https://github.com/autofac/Autofac/blob/a21778c5e74bff4d426fe4d90afbcbaa9e926c46/src/Autofac/Autofac.csproj#L36-L40 is enough

[2022-09-03 14:21] xperiandri opened #204 "Provider crashes having number at the end of created type name"
### Description

I tried to declare `type SambaSafetyQortaV1 = SwaggerProvider.OpenApiClientProvider<"v1.yaml">`
And it fails with
`FS3057	The type provider 'SwaggerProvider.OpenApiClientTypeProvider' returned an invalid type from 'ApplyStaticArguments'. A type with name 'SambaSafetyQortaV1' was expected, but a type with name 'SambaSafetyQortaV' was returned.`

### Repro steps

Declare type from t

[2022-09-04 07:01] sergey-tihon commented on #204
@xperiandri can you share `v1.yaml` or smaller schema with the same error?

[2022-09-04 10:57] xperiandri commented on #204
[v1.zip](https://github.com/fsprojects/SwaggerProvider/files/9484506/v1.zip)

[2022-09-04 10:57] xperiandri commented on #204
https://app.swaggerhub.com/apis-docs/SambaSafety/Customer_API/v1#/

[2022-09-04 10:58] xperiandri commented on #204
By the way it generates nothing from that file

[2022-09-05 17:50] xperiandri commented on #194
@Thorium would you mind sending a PR with docs fix according to your findings?

[2022-09-05 17:51] xperiandri commented on #189
I suppose it already supports it in `2.0.0-beta*`

[2022-09-05 17:53] xperiandri commented on #184
@jkone27 so can this be closed then?

[2022-09-05 18:13] Thorium commented on #194
I actually went for using SwaggerProvider version 0.12.2 and I'm quite happy for that, works for me. Let others fight with Microsoft Json, and maybe in a few months I'll look again the migration.

[2022-09-05 18:19] sergey-tihon commented on #189
no. it is a different issue

[2022-09-10 21:11] sergey-tihon commented on #204
Your schema contains external references, instead of real definitions.
[code]

Current TP does not support resolving and loading schema parts.

[2022-09-10 23:13] xperiandri commented on #204
But why without `1` at the end it is just empty but not display any errors?

[2022-09-11 18:51] sergey-tihon commented on #189
Fixed by #203

[2022-09-11 18:51] #189 closed

[2022-09-12 09:04] sergey-tihon commented on #204
Next version(beta) will report proper error that such schemas are not supported

[2022-09-12 09:04] #204 closed

[2022-09-13 13:40] #184 closed

[2022-09-14 06:33] sergey-tihon commented on #193
@jkone27  do you have sample of such schema?

[2022-09-14 09:55] jkone27 commented on #193
i don't atm, not sure where i took it from, but i think you can test adding that **parameter** definition in some test route and get the openapi from here?

[code]

https://editor.swagger.io/

[2022-11-11 21:42] abelbraaksma commented on #132
@sergey-tihon, Hawaii (which is not a TP, but instead a code generator) solves the issue with returning a `Result` instead of raising an error.

This seems to make more sense in general, as quite a few apis use 404 for stuff like “customer not found” after a query and being able to inspect result and have a concrete object in the Error type would make this much simpler than injecting an extra resp

[2022-11-29 09:54] petrkoutnycz opened #210 "Cannot generate OpenApiClientProvider for Mews endpoint"
### Description

Trying to generate client provider for Open Api in Mews company and it fails with weird exception. Other generators fail because of missing support of `oneOf` so it might be also the reason here thought the error is a bit cryptic.

### Repro steps

Please provide the steps required to reproduce the problem

1. Type provider type definition with parameters: just `OpenApiClientProvi